[2017-10-16 16:00] tony-shannon opened #40 "PulseTile ReactJS - Unit Testing status"
needs testing as per our test scripts to ensure matches Angular version functionality- for this block of work

[2017-10-16 16:01] tony-shannon opened #41 "ReactJS version- Block 1- Documentation"
to do

[2017-10-16 16:01] tony-shannon opened #42 "ReactJS version- Block 1 - external review"
to do

[2017-10-19 09:52] anna-otrokhova opened #44 "Add processing of PUT request for Allergies Heading"
Add processing of PUT request for Allergies Heading

This issue may be linked to the existing one: https://github.com/RippleOSI/Ripple-Qewd/issues/39
https://github.com/PulseTile/PulseTile/issues/48

[2017-10-19 09:53] anna-otrokhova opened #45 "change static information to the dynamic one from Patient Info drop-down"
Change static information to the dynamic one, it will be displayed in the Patient Info drop-down, potentially to the "application" endpoint. http://prntscr.com/gyzb6p
Here should be displayed the actual information about the version.

This issue is linked to this one: https://github.com/PulseTile/PulseTile/issues/47
https://github.com/RippleOSI/Ripple-Qewd/issues/59

[2017-10-19 10:43] tony-shannon commented on #44
thanks @anna-otrokhova

helpful to have that here,
suggest you also need to link this to the related issue on QEWD-Ripple, as there is a dependency there that Rob needs to address
please take a look here;
https://github.com/RippleOSI/Ripple-Qewd/issues

this may be the one you need to link to..
https://github.com/RippleOSI/Ripple-Qewd/issues/39
Always worth considering if existing/new issue needs

[2017-10-19 10:45] tony-shannon commented on #45
thanks @anna-otrokhova

Again need to consider where this data should come from

Browser side PulseTile info can be provided by this codebase

Server side info (eg The QEWD-Ripple version) needs to come from a server side API
I don't see a related issue linked to anywhere..
Can you take a look please/consider raising a new issue here
https://github.com/RippleOSI/Ripple-Qewd/issues

thanks
Tony

[2017-11-08 14:30] anna-otrokhova opened #57 "Updates from PulseTile UI need PUT requests: to do: Add SourceID to URL requests"
We have got the request from Back end developers, that SourceId should be added to URL request.
It gives them what they need to create the OpenEHR update request

(It is needed for PUT requests )

This issue may be linked to the existing one:
https://github.com/PulseTile/PulseTile-React/issues/44

[2017-11-08 14:41] tony-shannon commented on #57
sorry @anna-otrokhova  can you explain this with some more detail please
I dont understand what this is about

[2017-11-08 14:53] anna-otrokhova commented on #57
@tony-shannon
Sure, just a moment please. I need some time to find the details in Skype chat with Rob

[2017-11-08 15:19] anna-otrokhova commented on #57
Recently we have discussed this issue with Rob in Skype:
http://prntscr.com/h7thhg
http://prntscr.com/h7tijn

The main idea is that before (on Angular also ) we have sent PUT requests like this:
PUT /api/patients/:patientId/:heading/
After the talk with Rob to make it work we should send the request like this:
PUT /api/patients/:patientId/:heading/:sourceId

So we should add this SourceID param to

[2017-11-08 16:03] tony-shannon commented on #57
ok thanks for the info @anna-otrokhova

please discuss with @kbeloborodko re what needs to be for PulseTile-Angular codebase and add/update issue there
thanks

[2017-11-14 16:44] anna-otrokhova commented on #44
@tony-shannon
This issue was fixed only on React version for now.
Tony, can I close this issue here?

[2017-11-14 17:34] tony-shannon commented on #44
yes
 thanks

[2017-11-14 17:34] #44 closed

[2017-11-15 15:48] anna-otrokhova opened #63 "Empty string values are present in DB, the records which have such fields can't be edited"
There are some records, which were added as testing data I suppose manually. These records have empty fields by default and these fields are usually static (so when we create a new Allergy, for example, we don't enter these fields) Once we edit something we take the information which already has empty string values .
1) I suppose such records should be removed from DB.
2) And test data should be c

[2017-11-15 22:49] tony-shannon commented on #63
thanks @anna-otrokhova

Please wait for a resolution on the Ripple  QEWD issue and retest when thats resolved
thanks
T

[2017-11-16 13:22] anna-otrokhova opened #64 "displaying a well-written error for user when internet is lost"
We have discussed the range of options for a well-written error. Here is the short list of possible solutions from our point of view:

1) If the connection was lost during initializing of the application a notification will appear instead of spinner sign: “Some connection error has occurred. Please check your connection and try
again” (For starting the application only)

2) If any server error 5xx

[2017-11-16 13:57] anna-otrokhova opened #65 "Vaccinations can be neither created nor updated"
After solving the issue https://github.com/ethercis/ethercis/issues/72#issuecomment-343370833
We can check creation and editing of Vaccination heading

I will open the issue here to test it afterwards

Related issue: https://github.com/PulseTile/PulseTile/issues/58

[2017-11-23 10:36] anna-otrokhova commented on #63
@tony-shannon
ok. Thank you. Once it is resolved I will test.

[2017-11-24 14:17] anna-otrokhova commented on #65
For now, Vaccinations can be only edited, creating still doesn't work.
We have tested both on dev and showcase box and figured out that creation doesn't work for dev box (react version only)
We can't find the reason. But I have checked the errors in logs , could you help me please to understand what it means ?

POST:
userId: "9999999000", vaccinationName: "wwww test ", vaccinationDateTime: "07-Nov

[2017-11-27 13:19] anna-otrokhova commented on #65
Now it works. Thanks to Rob's help.
The issue was in AQL template name (so QEWD expects to use the template: IDCR - Immunisation summary.v1 and it was used the template IDCR - Immunisation summary.v0 )
Rob changed it to .v0 . It works properly now.

[2017-11-27 13:20] #65 closed

[2017-11-27 13:42] anna-otrokhova commented on #57
SourceID is added to URL requests.

[2017-11-27 13:42] #57 closed

[2017-11-27 13:46] anna-otrokhova opened #70 "Some fields aren't changed while editing"
We have noticed several issues which can’t be resolved within the web development.
We would greatly appreciate it if you kindly check it and give some feedback on this matter.
dev box:

1) Procedure Plugin - when we edit the elements in this heading the fields
performer and procedureTerminology aren’t changed.
Here is the request example:
Here is the PUT request:: http://prntscr.com/hbnnk9
We got

[2017-11-27 16:24] anna-otrokhova commented on #70
1. This point was solved.

[2017-11-30 15:04] anna-otrokhova commented on #42
Tony, can we close this issue, as an external review was provided by Kirill?

[2017-11-30 15:07] anna-otrokhova opened #71 "Block 3. MDT Heading"
To do

[2017-11-30 15:08] anna-otrokhova opened #72 "Block 3. Orders Heading"
doing

[2017-11-30 15:20] tony-shannon commented on #71
thanks
when the time comes to close this, please include link to the relevant commit
thanks
T

[2017-12-04 10:51] anna-otrokhova commented on #70
4. Referrals editing was fixed.

[2017-12-04 17:25] anna-otrokhova opened #74 "MDT heading can't be neither created nor updated on dev and showcase boxes"
We have checked and figured out that, MDT doesn't work as well both creation and editing. Let me prepare the screen:
PUT: https://prnt.sc/hiwf1k
log: https://prnt.sc/hiwew1
POST: https://prnt.sc/hiw7qk

Related issue: https://github.com/RippleOSI/Ripple-Qewd/issues/66
https://github.com/PulseTile/PulseTile/issues/61

[2017-12-04 17:26] anna-otrokhova opened #75 "Orders can't be created"
Here is the POST request: http://prntscr.com/hitt2o
Here is response to POST http://prntscr.com/hittdg
Here is Error in ripple-demo-out-1.log :
http://prntscr.com/hittxh
Could you help us, please?

[2017-12-06 13:42] anna-otrokhova opened #76 "All Inputs should be changed to "strings""
When we try to edit any heading and if we don’t enter any changes in existing fields, which consists of numbers only. All numbers changed their view (for ex. 11 -> 11.0)
Here is the PUT request: http://prntscr.com/hbqa2s
Here is the server response to GET request for the info, which was updated: http://prntscr.com/hbqaje
Here is the log: http://prntscr.com/hbq9ps

According to the freshehr's comme

[2017-12-06 13:57] anna-otrokhova opened #77 "Changes with Contacts heading + adding drop-down list for "Relationship Type" field"
2.1) And when we create a new element the data is replaced with the default one (Key formal care worker)

Here is the PUT request:
http://prntscr.com/hbpm26
Here is the server response to GET request for the info, which was updated: http://prntscr.com/hbpmse

2.2) By the way, when we create the contact, these fields are replaced (I suppose on back end side or in DB ) with some default data http://

[2017-12-06 14:32] anna-otrokhova commented on #77
The issue was solved.

[2017-12-06 14:32] #77 closed

[2017-12-06 14:32] #76 closed

[2017-12-07 10:53] anna-otrokhova commented on #70
The issues were solved.

[2017-12-07 10:53] #70 closed

[2017-12-07 10:56] anna-otrokhova commented on #72
We have finished the developing this heading on React version.
The creation functionality has an issue https://github.com/PulseTile/PulseTile-React/issues/75

[2017-12-07 10:56] #72 closed

[2017-12-07 11:02] anna-otrokhova commented on #71
We have finished the developing of this heading on React version.
The creation and editing functionality has an issue https://github.com/PulseTile/PulseTile-React/issues/74

The link to the relevant commit ->  https://github.com/PulseTile/PulseTile-React/commit/fbf40e7ab3a1750dcf5142221315f6a451860387

[2017-12-07 11:02] #71 closed

[2017-12-07 11:04] anna-otrokhova opened #78 "Unit testing"
In process
1) ui-elements (3):
- PTButton
- PTPanel
- Spinner

2) presentational (5):
- Footer
- MainLogo
- PaginationBlock
- Sidebar
- NotificationContent

3) Fields (9)
- CustomInputCheckbox
- CustomInputInline
- DateInput
- FileInput
- StaticFormField
- ValidatedTextareaFormGroup
- ValidatedInputFormGroup
- SelectFormGroup
- RangeInput

4) Containers (32)
- AdvancedPatientSearch
- AdvancedPatie

[2017-12-07 12:40] anna-otrokhova opened #79 "E2E testing"
In process:
Setup nightwatch + webdriver + chrome driver
Add properties reading
Build Page Object hierarchy
Add Reporting
User login (Patient banner)
User Profile drop-down
Patient Information page
Patient Information (part of Accordion)
Patient Summary
Breadcrumbs
Patient Summary -> Redirection
Patient Summary -> Sidebar menu
Patient Headings > Problems/Diagnosis
Patient Headings > Medications
Pa

[2017-12-12 10:28] ahoncharov commented on #78
https://github.com/PulseTile/PulseTile-React/commit/e757f515a48377edca0c186563a49b34ed2cbdce

[2017-12-14 17:32] anna-otrokhova opened #80 "Medication Heading - dev box > the information is not sent to web interface - invalid data"
To check later.
React GET request: http://prntscr.com/hninpd
Here is the log what we get in response: http://prntscr.com/hnio7c
The same issue is on Angular dev box: http://prntscr.com/hniq40

I have checked Medication heading on showcase as well.
Showcase Get request: http://prntscr.com/hnionm
Here is the log what we get in response: http://prntscr.com/hnip9a

As you can see the requests are the

[2017-12-21 11:36] anna-otrokhova opened #81 "Leeds PHR Theming"
Tasks for LeedsPHR:

1) Restyling the site
2) Patient Summary
3) Footer
4) Header
5) Add new block "Vaccination" to Patient Summary
6) Change logic of displaying Patient Summary (Home) blocks:
- Full View
- Only Preview
- Only List
7) Push the changes to http://46.101.50.79/#/

[2017-12-21 15:32] tony-shannon commented on #81
thanks Anna
Can you push LeedsPHR theming related changes to this repo for now please?
https://github.com/LeedsCC/PulseTile-React

We then need to work out which we keep in the main https://github.com/PulseTile/PulseTile-React repo

[2017-12-21 15:42] anna-otrokhova commented on #81
@tony-shannon

Sure, Tony. Alexey will push the code today or tomorrow.

[2017-12-21 15:53] tony-shannon commented on #81
thanks Anna
T

On 21 December 2017 at 15:42, Anna Otrokhova <notifications@github.com>
wrote:

[2017-12-25 15:50] anna-otrokhova opened #83 "Drawing Heading - floating issue while editing"
Recently we were working on Drawing Heading and found some issue which we need some assistance with to figure out how to fix it.
Here are my steps :
1) http://prntscr.com/hsxq35  --- already broken picture, I go to edit it
2) http://prntscr.com/hsxqlk   --- I edit, and click Complete
3) http://prntscr.com/hsxqyo   --- here is the picture I’ve sent
4) I look at the online service whether it is vali

[2017-12-25 15:51] anna-otrokhova opened #84 "Documents Heading"
to do

[2017-12-26 08:48] anna-otrokhova commented on #81
@tony-shannon
Unfortunately, Alexey doesn't have permissions to push the code to that repo. Could you check it, please?  (Here is his account https://github.com/ahoncharov )

[2017-12-27 11:41] anna-otrokhova opened #87 "Vitals heading"
to do

[2018-01-04 16:17] anna-otrokhova opened #88 "Add “Loading..” note for each table on Patient Summary page."
Add “Loading..” note for each table on Patient Summary page. We suppose it can look like this in each table while it is loading http://prntscr.com/hw0tt3 and in case there are no results user will see such note http://prntscr.com/hw0vc5 .

[2018-01-11 14:25] anna-otrokhova commented on #80
The issue was fixed

[2018-01-11 14:26] #80 closed

[2018-01-11 14:29] anna-otrokhova commented on #78
Done http://dev.ripple.foundation/coverage/

[2018-01-11 14:29] #78 closed

[2018-01-11 14:32] tony-shannon commented on #78
Great, please add istanbul coverage badge to github repo
as per this
http://maximilianschmitt.me/posts/istanbul-code-coverage-badge-github/

We have a travisCI account for Ripple already
https://travis-ci.org/PulseTile/PulseTile

thanks
T

On 11 January 2018 at 14:29, Anna Otrokhova <notifications@github.com>
wrote:

[2018-01-11 14:39] anna-otrokhova opened #90 "Transfers of Care"
Edit functionality doesn't work. (PUT)
Could you please check it: http://prntscr.com/i86npg

Related issue: https://github.com/PulseTile/PulseTile/issues/64
https://github.com/RippleOSI/Ripple-Qewd/issues/67

[2018-01-11 14:39] anna-otrokhova opened #91 "Clinical Query - issues"
Clinical Query development was finished.

We have noticed some issues:
1) When both genders are chosen the backend side returns only men -> http://prntscr.com/i2kwx0 http://prntscr.com/i2kwp3 , (There are results with  female sex by the same request http://prntscr.com/i2kxfx)
2) When the age range is used and desired age is started from 0 - backend side returns all results without taking into acco

[2018-01-11 14:41] anna-otrokhova opened #92 "Images Heading"
to do

[2018-01-11 14:47] anna-otrokhova opened #93 "Change the pictures (LeedsPHR) in Patient summary"
https://drive.google.com/drive/u/0/folders/11vsJkdhlnytw44hPhoWeuIRyMmhTFgt

[2018-01-11 14:47] anna-otrokhova commented on #93
done

[2018-01-11 14:47] #93 closed

[2018-01-11 15:54] anna-otrokhova opened #94 "Clinical statements heading"
to do

[2018-01-11 16:14] anna-otrokhova commented on #78
@tony-shannon
Ok. We will do it and let you know once done.

[2018-01-12 13:00] ahoncharov commented on #88
https://github.com/PulseTile/PulseTile-React/commit/5d05c0732afb8a0394bfdd8b5e44bae01f82a1ff

[2018-01-12 13:32] tony-shannon commented on #88
thanks Alexey, that is a pull request/commit?

[2018-01-12 13:38] ahoncharov commented on #88
It is commit - https://github.com/PulseTile/PulseTile-React/commit/5d05c0732afb8a0394bfdd8b5e44bae01f82a1ff
"Refactoring PatientsSummary configs. Add 'Loading ...' to load data in the boards"

[2018-01-12 14:06] tony-shannon commented on #88
thanks Anna
Good idea to add that detail so others can understand the thread
thanks
T

On 12 January 2018 at 13:38, Alexey Honcharov <notifications@github.com>
wrote:

[2018-01-12 15:32] anna-otrokhova opened #96 "Add the heading Top Three Things (Project:Fork:LeedsPHR)"
Tasks to do:

- [x]  Replace the pictures in Patient Summary http://prntscr.com/hzij7o
- [x]  Add Top three things to Patient Summary
- [x] Add new heading "Top three things"
- [x] Add the banners to each heading
- [x] Move the changes to the Demo machine.
- [x] Change "Top Three Things" according to discussed topic.

We would need the pictures and endpoints to finish the task:

- [x] endpoints
-

[2018-01-12 15:35] anna-otrokhova opened #97 "Vitals Heading editing issues"
1) http://prntscr.com/hyzhpw --> When we send PUT request with the value in this field -> levelOfConsciousness:"Verbal", the editing doesn't work.
2) http://prntscr.com/hyziz6 --> When we do PUT request and this field oxygenSupplemental:false , then do GET by the same sourceId this field is true. http://prntscr.com/hyzjd2

Related issue: https://github.com/RippleOSI/Ripple-Qewd/issues/72

[2018-01-12 15:38] #84 closed

[2018-01-12 16:22] tony-shannon opened #98 "PulseTile-React API dev status"
current status:   / 20 APIs tested & working

![image](https://user-images.githubusercontent.com/939996/34884486-c783f06a-f7b4-11e7-9797-b7e0d628fc96.png)

[2018-01-12 16:47] tony-shannon commented on #96
test update

[2018-01-15 10:29] tony-shannon commented on #96
thanks Anna
V minor point , but that checklist above has elements from 2 issues:
1) Add Pictures to the PHR view
2) Add Heading: Top 3 things about me to PHR view
so as a rule I would split them out in future
thanks, T

[2018-01-15 10:39] anna-otrokhova commented on #96
@tony-shannon
Excuse me, Tony,  I am not sure whether I understand right what you mean here.

You want those tasks to be independent separate two issues?

[2018-01-16 17:08] ahoncharov commented on #78
Add tests for Documents Heading. - https://github.com/PulseTile/PulseTile-React/commit/4db3b002c0ff9fac30d0e726ba525d306ab34915

[2018-01-17 08:40] anna-otrokhova opened #102 "Document heading floating issue"
Sometimes during the loading of Detail table in Documents Heading we get an error from backend
"Cannot set property of 'documentType' of undefined.
http://joxi.ru/xAeNweNspG4DWr

Related issue: https://github.com/RippleOSI/Ripple-Qewd/issues/74

[2018-01-19 09:20] anna-otrokhova opened #106 "Unit testing github badge"
Add coverage badge to github repo

https://travis-ci.org/PulseTile/PulseTile-React
https://codecov.io/gh/PulseTile/PulseTile-React

Related issue: https://github.com/PulseTile/PulseTile-React/issues/78

[2018-01-19 09:21] #88 closed

[2018-01-19 09:39] anna-otrokhova commented on #88
Done

[2018-01-19 10:14] anna-otrokhova commented on #106
This task was done.

@tony-shannon We found the option to send the results of codecov statistics to email after committing to master branch. Do you want us to add your email for this?

Here is how the email looks like http://prntscr.com/i2kx1r

[2018-01-19 10:14] #87 closed

[2018-01-19 12:18] anna-otrokhova commented on #91
Rob has fixed it on dev boxes.

[2018-01-19 12:18] #91 closed

[2018-01-19 14:40] anna-otrokhova commented on #97
The issues were fixed on dev boxes.

[2018-01-19 14:40] #97 closed

[2018-01-19 16:57] robtweed commented on #74
This is because no POST configuration has ever been defined for MDT Reports in the past.

I can, however, use this information from Ian to add the POST/PUT mappings for MDT reports

https://github.com/RippleOSI/Ripple-openEHR/blob/master/docs/bindings/Current%20Ripple%20Headings/MDT/mdt_report_1.1.0.md

[2018-01-19 17:11] robtweed commented on #75
The POSTed fields for each test should be code and name, not code and text
See the post mapping definition for laborders in this file:

https://github.com/RippleOSI/Ripple-Qewd/blob/master/lib/headings/laborders.js

[2018-01-19 17:14] anna-otrokhova commented on #74
@robtweed
Thank you, Rob.
Please add it.

[2018-01-19 17:17] robtweed commented on #74
I'll need to discuss some issues with Ian to clarify the Flat JSON, and to make sure you send the correct fields / values to create / edit an MDT Report record.  I'll contact Ian next week

[2018-01-19 17:19] anna-otrokhova commented on #75
@robtweed

Last time when we discussed it you said that you would need to change the functionality on backend side as you didn't expect array here and it is essential for this heading.  http://prntscr.com/i2r7oo

May I ask please if you have already implemented the needed changes for this or something changed?

[2018-01-19 17:22] robtweed commented on #75
On looking at the back-end code it looks like it should work and will cater for your array.  Try changing the property names for each object in the array to "code" and "name" and see if it works

[2018-01-19 17:23] anna-otrokhova commented on #75
Ok. We will try on Monday. Thank you.

[2018-01-22 11:57] anna-otrokhova commented on #75
@robtweed We have tested it as you proposed https://prnt.sc/i31bck . Unfortunately, it doesn't work anyway.
Meanwhile, we have several questions:
1) What fields do you expect to be sent,  which ones are mandatory?
2) Do we send the right fields (you can see it on the screen above)?
3) Shall we send the field with  DateCreated?

[2018-01-22 12:37] anna-otrokhova opened #107 "Images issue with getting pictures while sending request via https protocol"
We niticed that when we use securedev server (with auth0 module) that works via https protocol
and try to send the request for a picture (here is an url --> http://46.101.95.245/orthanc/instances/7d739ad5-d3a3d79c-68ea3c77-5d22eadb-42c40467/preview )
We get an error http://prntscr.com/i31ntw and request won't go through because the page has the mixed content.

We can't send request from the local

[2018-01-22 15:12] robtweed commented on #75
You're not sending the orders as an array.  You're sending as an object/hash with properties '0', '1' etc:

{
        "0": {
            "code": "order1",
            "name": "Xray Chest X-ray"
        },
        "1": {
            "code": "order2",
            "name": "Radiology-CT Head"
        },

Try again using an array as the request payload and let me know what happens

Rob

[2018-01-22 15:51] robtweed commented on #83
Try editing the drawing again.  I think it should save the updated version correctly now

Rob

[2018-01-22 16:12] robtweed commented on #102
See if it's fixed now on dev

Rob

[2018-01-22 19:53] anna-otrokhova commented on #83
@robtweed
Ok. Thank you. I will check tomorrow.

[2018-01-22 19:53] anna-otrokhova commented on #75
@robtweed
Ok. We will check

[2018-01-22 19:54] anna-otrokhova commented on #102
@robtweed
Ok. Thank you. I will check tomorrow.

[2018-01-23 11:29] anna-otrokhova commented on #102
It works. Thank you.

[2018-01-23 11:29] #102 closed

[2018-01-23 12:52] robtweed commented on #74
OK, with Ian's help, MDT Reports should be able to created and updated.  Just make sure you send the following fields:

 dateOfMeeting   (JavaScript Date getTime() format)
 serviceTeam   (text)
 dateOfRequest   (JavaScript Date getTime() format)
 question (text)
 notes  (text)
 author (optional)

Please confirm if it works or if it still has problems

Rob

Rob

[2018-01-23 14:24] anna-otrokhova commented on #74
@robtweed
I have tested with our initial request and only with proposed by you fields.
Unfortunately, it doesn't work still.
PUT: http://prntscr.com/i4fnd2
POST: http://prntscr.com/i4fohy
POST with mentioned fields in postman:
{"userId":"9999999000","serviceTeam":"test","question":"test","notes":"test","dateOfRequest":"1512432000000","dateOfMeeting":"1514844000000"}

Could you please check it agai

[2018-01-23 14:27] anna-otrokhova commented on #75
@robtweed
We have tested using an array as the request payload and here is our request prntscr.com/i4aphw , we get "laborders saved", but no results.

Could you please check what is wrong?

[2018-01-23 15:33] anna-otrokhova commented on #83
@robtweed
Thank you. It works.

[2018-01-23 15:33] #83 closed

[2018-01-24 11:31] anna-otrokhova commented on #74
@robtweed
Today PUT request works, but the fields dateOfRequest and

[2018-01-24 11:34] anna-otrokhova commented on #74
@robtweed
I have tested today again, PUT works in general, only fields dateOfRequest and servicePageLink
can't changed:
PUT: http://prntscr.com/i4vdl1
GET after PUT: http://prntscr.com/i4veta

POST doesn't work t all.

[2018-01-24 12:24] robtweed commented on #74
OK try again.  The AQL needed fixing, so records weren't being retrieved from EtherCIS.

By the way it looked like you also had the old problem of trying to fetch mdtreporrts again before EtherCIS had a chance to save the new record - please check the UI logic.

I don't know why dateOfRequest wouldn't be updated - can you check again and let me know if it works or still fails.

servicePageLink isn

[2018-01-24 13:22] robtweed commented on #75
OK - try it again - I think it should work now.

However, please fix the request payload you're sending which is currently this:

[{
    "code": "order1",
    "name": "Xray Chest X-ray"
}, {
    "code": "order2",
    "name": "Radiology-CT Head"
}, "9999999000"]

Please get rid of that NHS number element.  The request body should be:

[{
    "code": "order1",
    "name": "Xray Chest X-ray"
}, {

[2018-01-24 16:15] anna-otrokhova commented on #74
Ok. It works.

[2018-01-24 16:15] #74 closed

[2018-01-25 11:27] anna-otrokhova commented on #75
@robtweed
It doesn't work anyway.
And it's essential for us to send NHS number in request payload as we create URL by taking this information from request payload. To change this logic means arranging additional works that are out of scope.

[2018-01-25 13:57] anna-otrokhova opened #109 "Clinical Query issue with empty data"
1) Sometimes we get the broken data like this: http://prntscr.com/i5fg9l
Here is the request: http://prntscr.com/i5fha9

Could you check it please?
Related issue: https://github.com/RippleOSI/Ripple-Qewd/issues/78

[2018-01-25 15:33] tony-shannon opened #110 "explore PulseTile JSON to PulseTile Component (HTML/JS) auto generation"
FYI
@simongamester is taking a look at how to process PulseTile UI side JSON and mapping that to UI side components in a semi automated way.
https://jsfiddle.net/rootsol/cay2c07h/4/
We need to leverage the generic widget for this purposes too.
http://docs.pulsetile.com/react-generic-plugin.html

Though we may start this within the React codebase, the approach taken should be agnostic of the framew

[2018-01-25 16:18] simongamester commented on #110
I've updated the jsFiddle so we test multiple schemas - https://jsfiddle.net/rootsol/cay2c07h/6/

Selecting the 'Select Module' dropdown now populates either the Personal Notes or Orders JSON data and corresponding Schema.

You can now also write field shortcodes or raw html within the view as well. The notation {{scheme.fieldname}} denotes field-level shortcodes i.e. name, source etc. {{module.fi

[2018-01-25 16:38] simongamester commented on #110
@tony-shannon Looking see if I can convert the datetime fields. Do you happen to know what format these are in?

dateCreated:1487072396000

This doesn't appear to be a unix timestamp.

Thanks - Simon

[2018-01-25 16:47] tony-shannon commented on #110
thanks Simon
Sorry I don't know , am sure Kirill/Rob should do.
T

[2018-01-25 17:10] simongamester commented on #110
I've added all the modules from the PT docs site. Please let me know your thoughts:

https://jsfiddle.net/rootsol/cay2c07h/

This also includes an exception to format dates, which are only applicable to the calendar controls.

Think our next step should be to try and build a dropdown or checkbox control as these would require additional properties to define the choices available. Would suggest the

[2018-01-25 17:17] tony-shannon commented on #110
Great job Simon

Next step should prob be to go through the plugins? that should draw out some of those checkbox issues?

[2018-01-26 08:30] ahoncharov commented on #90
https://github.com/PulseTile/PulseTile-React/commit/50c8b907f8672f8ca0e4dcb953cd4dd7dc387d99 - Add TransfersOfCare list and detail.
https://github.com/PulseTile/PulseTile-React/commit/d6dd6ba22afe0491cdaff1f95eca0be6da09afeb - Add TransfersOfCare edit.
https://github.com/PulseTile/PulseTile-React/commit/b0f7e776efdd2e5ef629fe74455120911e0bc7c1 - Add Service of TransfersOfCare.
https://github.com/P

[2018-01-26 11:00] anna-otrokhova opened #111 "Add pagination and filter to chart view - Vitals"
to do

[2018-01-26 11:03] anna-otrokhova opened #112 "Integration LeedsPHR with the main React project"
to do

[2018-01-26 11:04] anna-otrokhova opened #113 "WebRTC component"
to do

[2018-01-29 10:18] robtweed commented on #109
OK this was due to an invalid patient reference on EtherCIS.  I've added a check to the search logic that should prevent this in future.  Both dev and showcase updated

[2018-01-29 10:38] robtweed commented on #75
It appears to be a Flat JSON issue - awaiting feedback from Ian.

The normal heading payload would not normally include the NHS Number within an array - laborders is the only heading that expects an array as the payload.  Looking at the logs, it appears that you no longer send it in the request now anyway, so it looks like it's been fixed anyway

[2018-01-29 11:00] anna-otrokhova commented on #107
There is a warning on React https://prnt.sc/i73gui and images are displayed.
I will close the issue once it is fixed on Angular box, to double-check both.

[2018-01-31 14:25] #109 closed

[2018-01-31 14:27] anna-otrokhova commented on #90
Edit functionality doesn't work. (PUT)
Please check it. http://prntscr.com/i86npg

[2018-01-31 14:32] anna-otrokhova commented on #96
Rob, could you please copy the changes for "Top three things" to this machine http://46.101.50.79 ?
Also could you please implement PUT requests there (edit doesn't work)

[2018-01-31 14:32] #107 closed

[2018-01-31 15:31] anna-otrokhova opened #114 "Import URL from Documents to Problems/Diagnoses"
When we import Data using Documents heading (Diagnosis List) for example:
http://prntscr.com/i86vlq
http://prntscr.com/i87oci

When we send POST to create Diagnoses we send these fields to mark these heading that they were created from Documents and have this imported URL :
http://joxi.net/nAyLDXLfYzeoz2
But we get them empty in response:
http://joxi.net/Drl7DO7svgjL3A

Could you check it please?

[2018-01-31 15:36] anna-otrokhova commented on #75
ok. Let us know when we can check again, please. Thank you

[2018-02-01 12:14] tony-shannon commented on #110
@robtweed
@kbeloborodko
FYI

@simongamester please update Kirill and Rob here
thanks
T

[2018-02-05 14:56] anna-otrokhova commented on #92
done

[2018-02-05 14:56] #92 closed

[2018-02-05 14:56] anna-otrokhova commented on #111
done

[2018-02-05 14:56] #111 closed

[2018-02-06 10:08] robtweed commented on #96
When you say that edit doesn't work, I'm not sure what you mean.  The PUT is implements and should behave exactly as a POST (it actually invokes the same code), in that it replaces the previous Top3Things with the updated information.  The URL is PUT /api/patients/:patientId/top3Things/:sourceId

The sourceId is actually ignored for this heading, as the PUT creates a new record with a new sourceId

[2018-02-06 10:12] robtweed commented on #96
Top3Things should now be on 46.101.50.79

[2018-02-06 11:36] anna-otrokhova commented on #96
1) When I create using Postman I send this request:
{ "name1":"Item 1",
"description1":"My first problem",
"name2":"Item 2", "description2":"My second problem",
"name3":"Item 3", "3description3":"My third problem" }

and in Result, second and third items are the same (the third item isn't created)

2)  http://prntscr.com/iau95o PUT request
http://prntscr.com/iauaas - Get after PUT (neither Issue #

[2018-02-06 17:19] robtweed commented on #96
3description3   is wrong in your request.  The property name should be:

description3

ie:
{ "name1":"Item 1",
"description1":"My first problem",
"name2":"Item 2", "description2":"My second problem",
"name3":"Item 3", "description3":"My third problem" }

The problem is that you are GETting the old sourceId instead of the latest.  No matter, I'll change the GET logic so you always get the latest, r

[2018-02-07 08:51] robtweed commented on #90
Try PUT /api/patients/:patientId/events/toc/:sourceId   (edit Transfer of Care) on dev now and let me know if it works OK

[2018-02-07 11:56] anna-otrokhova commented on #96
Thank you. It works now.

[2018-02-07 12:12] anna-otrokhova commented on #90
it works, thank you

[2018-02-07 12:12] #90 closed

[2018-02-07 16:18] anna-otrokhova opened #115 "WebRTC module issue"
By implementation WebRtc we have found that the following socket event doesn’t work -->
1)socket.on('appointment:status')
2)socket.on('appointment:messages')
We suppose that the issue is in this part of code on the server in file socket.js -->
1)http://prntscr.com/ibg9dx
2)http://prntscr.com/ibg9j9
3)http://prntscr.com/ibg9os

As the socket event emits doesn’t work, we suppose that the root of iss

[2018-02-09 10:15] robtweed opened #117 "Lengthy load times"
The current UI for the PHR requires a very large download of JavaScript - currently nearly 10Mb.  This takes a considerable amount of time and makes the PHR appear very sluggish to start up.

Is there any way to reduce the JavaScript size, eg through compression etc.?  Alternatively can it be broken into parts that are loaded on demand (perhaps a more difficult thing to do with a React app which t

[2018-02-09 10:23] robtweed opened #118 "Logout API needs to be added to PHR UI"
The Gov UK Verify (OpenID Connect) -based login mechanism requires an explicit logout to be sent to their server in order to terminate a user's session.  I can do this from the middle tier, but in order to do this, I'll need to receive a signal from the UI that the user has clicked the logout button.

Could you therefore add this - ie when the User's Logout button is clicked send:

  GET /api/logo

[2018-02-09 10:25] robtweed commented on #118
Just to clarify, the UI should also delete the JSESSIONID cookie when the logout button is clicked

[2018-02-12 12:26] anna-otrokhova opened #119 "PROM heading"
New heading is planned:  https://projects.invisionapp.com/share/CSBN9XEYX#/screens/278187375
We suppose to get this kind of fields in responses to API requests:
GET  List
Respons
 [
   {
     name: string,
     score: number,
     dateCreated: number,
     source: string,
     sourceId: string
   },
 ...
 ]

GET  Detail
Respons
{
 name: string,
 records: [
   {
     date: number,
     name: string

[2018-02-12 17:44] tony-shannon commented on #115
ok after discussion with @robtweed, the issues seems to be with the TURN server that WebRTC needs. It appears the server that we had been running this on, has been removed.
see these line in videochat.js
https://github.com/PulseTile-Plugins/Carbon-Plugin-WebRTC/blob/6d140725479116ee5bf33e14426598d4468bde0e/scr/videochat/videochat.js#L107

@anna-otrokhova Can you please ask one of your team to foll

[2018-02-14 16:55] anna-otrokhova opened #121 "Procedure can't be created and updated"
We found a new issue with Procedures on both versions (dev react and dev angular)
Could you check it please:

http://prntscr.com/iepp3o
http://prntscr.com/ieppjm
But then new Procedure isn't displayed with GET request (it doesn't appear even later, so it is not response issue)

Related issue: https://github.com/PulseTile/PulseTile/issues/73
https://github.com/RippleOSI/Ripple-Qewd/issues/82

[2018-02-14 17:08] anna-otrokhova opened #122 "Transfer of care issue"
We noticed that sometimes when we try to edit Transfer of Care and clicking on some of the records in the table:
For example Transfer of Care #11 -> click on "Latest Vitals Data (New score:9)"
http://prntscr.com/iepvkl
http://joxi.net/BA0nJ4nsJnXYwm
We get an error 400 from back end
Though the same GET request for the same record (with the same sourdeid) works on Vitals tab -> http://joxi.net/v29d

[2018-02-14 22:11] freshehr commented on #75
@robtweed @anna-otrokhova This should be working now - wrong template was loaded into EtherCis.

[2018-02-14 22:16] freshehr commented on #121
I've checked all the procedure  CDR calls appear to be ok when calling directly.

[2018-02-15 10:52] #112 closed

[2018-02-15 10:52] #64 closed

[2018-02-15 12:17] tony-shannon commented on #40
@anna-otrokhova can you please list the modules in React Block 1
Can we check if the e2e tests cover these and have been run successfully?

[2018-02-15 12:22] tony-shannon commented on #81
Done , he has access

[2018-02-15 12:25] tony-shannon commented on #81
@anna-otrokhova
Can I get an update on the LeedsPHR code & where it sits.. some in this repo and some in the LeedsCC repo?

[2018-02-15 12:26] tony-shannon commented on #41
@anna-otrokhova  please update on this

[2018-02-15 12:28] tony-shannon commented on #115
link  to #113

[2018-02-15 15:02] anna-otrokhova commented on #41
For now, Documentation was done for Core Tiles : http://prntscr.com/if54jx
And for part of  Plugin Tiles: http://prntscr.com/if55aw

These Plugin Tiles will be added once we finish developing the headings:
https://prnt.sc/if56ek

These headings from Block 4 should be completed:
1) WebRTC
2) Plugin Process
3) Images heading
4) Documents heading
5) Drawing heading
6) Clinical statements heading
7) V

[2018-02-15 16:24] anna-otrokhova commented on #79
The Block 1 had the following headings:
Core application

Week 1: Graphs page (index) / Patient list page;
Week 2: Patient list extended functionality - counts, displayable columns switcher / User's profile page;
Week 3: Search functionality / Advanced search functionality / Application Preferences;
Week 4: Patient homepage (summary) / Sidebar Menu / Allergies heading;

P.S. (There wasn't included

[2018-02-16 09:35] anna-otrokhova opened #123 "Add Prom to Documents"
to do

[2018-02-16 09:37] anna-otrokhova commented on #118
It was done from our side. Rob confirmed that it works

[2018-02-16 10:38] anna-otrokhova commented on #117
@robtweed
Thank you for raising this issue.
Actually, LeedsPHR version has already these changes and the size of js files was reduced twice.
We've just missed it by pushing the last changes, but we've just renewed it with these changes. Could you please check it and move them to the needed machine?

Our React version on dev server is in process of development that is the reason why the build hasn'

[2018-02-16 11:31] anna-otrokhova commented on #111
@tony-shannon
Here is the video https://drive.google.com/file/d/1PCuw9Wit1PazABUyz7iWUZNeXPNLt8mu/view

[2018-02-16 11:36] anna-otrokhova commented on #92
@tony-shannon
Here is the video just in case: https://drive.google.com/file/d/1t_OA3dFkfuCs3cIUezSRqWnY78DKHYCo/view

[2018-02-16 11:49] anna-otrokhova opened #124 "Improve the sorting logic related to dates."
We discovered that at the moment we receive date in two different formats: ISO Date and timestamp in milliseconds. This affects the date sorting logic and we get an invalid date in some cases. So we've added a utility function, that converts the date to milliseconds in all cases. It prevents "invalid date" usage throughout the application and improves the sorting logic related to dates. It took us

[2018-02-16 11:49] anna-otrokhova commented on #124
done

[2018-02-16 12:00] tony-shannon commented on #92
thanks Anna
T

On 16 February 2018 at 11:36, Anna Otrokhova <notifications@github.com>
wrote:

[2018-02-16 12:22] tony-shannon commented on #111
thanks Anna

On 16 February 2018 at 11:31, Anna Otrokhova <notifications@github.com>
wrote:

[2018-02-16 13:20] anna-otrokhova commented on #40
@tony-shannon
The Block 1 had the following headings:
Core application

Week 1: Graphs page (index) / Patient list page;
Week 2: Patient list extended functionality - counts, displayable columns switcher / User's profile page;
Week 3: Search functionality / Advanced search functionality / Application Preferences;
Week 4: Patient homepage (summary) / Sidebar Menu / Allergies heading;

P.S. (There w

[2018-02-16 13:30] anna-otrokhova opened #125 "End2End Testing -report to email"
- [x] 1) Configure the environment on a remote server
- [x] 2) Jenkins installation
- [x] 3) Configuration of Job to run nightwatch and send a report  to the list of emails
- [x] 4) Configuration of Job to be started at needed time.

[2018-02-16 16:02] anna-otrokhova commented on #81
All of the new functionality pieces have been committed to the main repo. We extended existing components to make them more flexible and added new headings for the pages that were introduced. Configuration file (themes.configs.js) determines the difference between Main React and LeedsPHR versions. This way maintenance and fine tuning of these two instances is exceedingly simplified as when any new

[2018-02-19 12:19] anna-otrokhova commented on #75
@freshehr
Unfortunately, I still can't create orders though I get no errors when I send POST request.

I have a question. @robtweed , could you help me, previously you said that backend expects the body:
[{
"code": "order1",
"name": "Xray Chest X-ray"
}, {
"code": "order2",
"name": "Radiology-CT Head"
}]

1) But there are other fields that we usually send there because we have columns for them suc

[2018-02-19 20:51] tony-shannon commented on #115
@anna-otrokhova
Please check update on linked issue on Qewd repo & update videochat.js & retest

[2018-02-21 11:05] tony-shannon commented on #115
please revisit this instruction @anna-otrokhova

Once a turn server is back up and working, according to the testing instructions outlined here... then an update to those lines 103-109 in this file, should get the webRTC system back up and running
https://github.com/PulseTile-Plugins/Carbon-Plugin-WebRTC/blob/6d140725479116ee5bf33e14426598d4468bde0e/scr/videochat/videochat.js

[2018-02-21 11:15] anna-otrokhova commented on #115
@tony-shannon
Thank you very much, Tony. We will check.

[2018-02-21 11:41] anna-otrokhova commented on #115
@tony-shannon
We have checked. As we can see the credentials mentioned in videochat.js (lines  103-109) are correct to the provided ones by Alexey.
But we still don't get responses to these socket Events appointment:messages, appointment:status
(Though such sockets as init and close work). We suppose that there are some configurations (conditions, limitations) that interfere the correct communicat

[2018-02-21 11:45] tony-shannon commented on #115
Please confirm the settings in videochat.js that you are testing against

On 21 Feb 2018 11:41 a.m., "Anna Otrokhova" <notifications@github.com>
wrote:

[2018-02-21 12:20] anna-otrokhova commented on #115
@tony-shannon
Here is this part of code that was already configured  in videochat.js http://prntscr.com/ihr8nw
This config is responsible for the window of video chat and that part works.
The settings might be wrong in socket.js file they are responsible for appointment:messages, appointment:status .

[2018-02-21 12:28] tony-shannon commented on #115
suggest you try ip address rather than domain name
see if that helps
T

On 21 February 2018 at 12:20, Anna Otrokhova <notifications@github.com>
wrote:

[2018-02-21 13:52] anna-otrokhova commented on #115
@tony-shannon
Thank you, Tony.
We have tried, but unfortunately, it doesn't work anyway. http://prntscr.com/iht9f8

[2018-02-22 14:36] anna-otrokhova commented on #124
done

[2018-02-22 14:36] #124 closed

[2018-02-22 14:40] anna-otrokhova commented on #119
@tony-shannon
We are waiting for an update from the backend.

[2018-02-22 14:41] tony-shannon commented on #119
Hi @freshehr
Can we get an update on the openEHR template on this please

[2018-02-22 14:42] anna-otrokhova commented on #45
@tony-shannon
There is no update for a long time.

[2018-02-22 15:33] anna-otrokhova commented on #118
@robtweed
Could you please add this functionality to the main React version too?
We have configured for both LeedsPHR and React boxes.

[2018-02-22 15:41] anna-otrokhova opened #128 "Feeds"

[2018-02-23 09:44] freshehr commented on #119
The template is finished. Will have it deployed into the CDRs with a bit of documentation for Rob by the end of today. It is based on a very cut-down version of the SF-36 questionnaire along with a pain score (as you have already).

[2018-02-23 12:08] tony-shannon commented on #119
thanks @freshehr

Look forward to that update later.

See link here in comment mode to see current candidate drop down values in PROMS form
https://projects.invisionapp.com/share/CSBN9XEYX#/screens/277060059/comments/92989963
![image](https://user-images.githubusercontent.com/939996/36593577-3118b65c-1892-11e8-958f-24eddf79f75c.png)

Do let us know in your documentation what others are better fit

[2018-02-23 13:53] anna-otrokhova opened #129 "issue with servers is faced when End2End tests are run"
From time to time ethercis servers are unavailable and we noticed that, when it happens, creation or/and editing functionality stops working properly. Here are some examples of this
malfunction:

Video test running showcase: https://drive.google.com/file/d/1f--TllLlxZ1Nab6t0UheERM9LE64hXXM/view

Note: When test running started ethercis servers were available: http://prntscr.com/hy2q90, but during

[2018-02-23 14:18] #125 closed

[2018-02-23 14:21] anna-otrokhova opened #130 "End 2 End tests issue to check"
Recently some tests that were successful before started to fail now mostly on React. Bu we are going to check them and add more information.

[2018-02-23 14:36] tony-shannon commented on #129
well documented issue
thanks Anna
T

On 23 February 2018 at 13:53, Anna Otrokhova <notifications@github.com>
wrote:

[2018-02-25 18:08] freshehr commented on #119
https://github.com/RippleOSI/Ripple-openEHR/blob/master/docs/bindings/Current%20Ripple%20Headings/PROMS/proms.md

PROMS template now ready with .opt and example compositions uploaded to both Ethercis and Marand.

[2018-02-26 10:18] anna-otrokhova opened #131 "Handle token from backend"
Recently we’ve got a request from Rob, that we should handle JWTs in all responses from backend side on React version. We discussed it with our team and found that to implement it we should add a new handler to our middleware, this way we are able to handle all responses to our requests.

Related issue: https://github.com/RippleOSI/Ripple-Qewd/issues/87

[2018-02-26 10:30] anna-otrokhova opened #132 "Please Add Referral Summary example to Documents heading"
Please Add Referral Summary example to Documents heading
( We have only Discharge Summary now) http://prntscr.com/i507zj

Related issue: RippleOSI/Ripple-Qewd#77
https://github.com/PulseTile/PulseTile/issues/72

[2018-02-26 10:32] anna-otrokhova commented on #132
This task needs to be checked after adding the example.
All works on the front end side have been already done.

[2018-02-26 11:54] robtweed commented on #129
Without being able to watch what happens on the QEWD middle tier during a set of tests, it's difficult to know what the problem is.  However, if you're saying that when EtherCIS isn't available, then the tests don't run, it's not really surprising, since the middle tier won't be able to post or update records on EtherCIS.  The questions seem to be:

1) Is there a problem with the QEWD Middle tier

[2018-02-26 13:19] anna-otrokhova commented on #130
@tony-shannon
The Headings tests failed because we slightly altered the application load and the selection of the elements in the tests worked before the element appeared on the page.
The End2End tests were corrected. This issue has been solved.

[2018-02-26 14:32] anna-otrokhova commented on #129
@robtweed
I will be glad to assist you when you are ready to check the log (I will run tests from my side )

[2018-02-27 11:05] robtweed commented on #119
Ian - shouldn't the AQL for the proms heading have this:

 from EHR e [ehr_id/value = '{{ehrId}}']

instead of just

from EHR e  ?

[2018-02-27 11:11] freshehr commented on #119
Yes sorry. Should be `from EHR e [ehr_id/value = '{{ehrId}}']`

[2018-02-27 11:50] robtweed commented on #119
I've done some initial investigation of how to implement this, but I'm afraid I'm pretty lost.  This appears to be quite an unusual heading to implement.

I'm afraid I can't figure out how the Get Summary and Get Detail examples of Anne's (see start of this thread) map onto the AQL values in Ian's Template specification.

Some actual example data in the Marand or EtherCIS systems would be useful,

[2018-02-27 12:01] robtweed commented on #119
Here's an example of what I mean - from the PulseTile examples for Get PROMS Detail, it's expecting a response that looks like this:

  {
    name: 'test Proms 1',
    records: [
      {
        date: 1482190593395,
        name: 'test records',
        source: 'test records source',
        sourceId: 'test records sourceId',
        type: 'test records type',
        typeTitle: 'test records type

[2018-02-27 12:35] freshehr commented on #119
@robtweed - I am equally confused by what the UI is trying to reflect.  The template is intended to work with the usual summary/detail approach so I'm not sure where the array of records fits. I think we need a multi-way discussion before proceeding further.

[2018-02-27 12:44] anna-otrokhova commented on #119
@robtweed @freshehr
This heading is very similar to Transfer of Care heading that is why it has the same approach as on that heading. Could you please compare your AQL and API configurations for that heading. Maybe it would help.

[2018-02-27 12:58] anna-otrokhova commented on #121
@tony-shannon @freshehr
Unfortunately, creation or edition any records stopped working on all boxes.

[2018-02-27 13:39] freshehr commented on #121
@anna-otrokhova - I'm confused but I re-uploaded the template and it seems t0 work ok now. Can you check?

Ian

[2018-02-27 13:49] anna-otrokhova commented on #121
@freshehr
Thank you, Ian. It helped for dev react.
Dev angular and showcase boxes don't work. Could you update their templates too, please?

[2018-02-27 13:51] freshehr commented on #121
It is the same CDR backends that are used by all of the boxes so there must be something else going astray.

[2018-02-27 13:54] anna-otrokhova commented on #121
As it works on React I will close this issue here (But as we can't find the reason on Angular versions I won't close it there).

[2018-02-27 13:58] anna-otrokhova commented on #122
@tony-shannon
Could you ask Rob to have a look at, please?

All works by front end side have been done. This task might be tested after Rob's investigation.

[2018-02-27 14:01] anna-otrokhova commented on #114
@tony-shannon
 We would need an assistance from Rob as backend side doesn't send the expected data.
Could you ask Rob to check, please, as I can't mention him here?

[2018-02-27 14:04] anna-otrokhova commented on #129
@tony-shannon
Update.
We tested it with Rob today and Rob found that it looks like EtherCIS decides there's too much activity and returns this "Access to ehrserver denied"

Rob captured the log and he should have enough to work with in that log file - he is going to see what he can discover.

[2018-02-27 14:46] anna-otrokhova commented on #129
Related issue: https://github.com/ethercis/ethercis/issues/104

[2018-02-27 15:33] robtweed commented on #119
I see no way of aligning the Ripple UI fields with ones that correspond with anything in the OpenEHR Template / AQL / Flat JSON

[2018-02-27 15:56] robtweed commented on #45
The response from /api/initialise now includes a new property: version.  This is the version number taken from the package.json file for Ripple-QEWD

[2018-02-27 16:04] freshehr commented on #119
This closer to what we are delivering from openEHR.... adding procedure date is trivial, if that helps

[code]

This is sympathetic to the current simple Summary/ Detail arrangement that QEWD works on. Anything else will require quite a bit more analysis and effort. The key thing with most PROMS is that the exact PROMS questions will vary by procedure and by timing before and after the procedure.

[2018-02-27 16:45] robtweed commented on #119
How do the UI fields line up with this Flat JSON which is mainly at codes for values from what I can see:

   "proms/procedure:0/ism_transition/careflow_step|code": "at0047",
   "proms/procedure:0/procedure_name|value": "total replacement of hip",
   "proms/procedure:0/procedure_name|terminology": "SNOMED-CT",
    "proms/sf-36:0/a1._health_in_general|code": "at0011",
    "proms/sf-36:0/a2._health_

[2018-02-27 17:13] freshehr commented on #119
@robtweed - the answers to the questions should be coded, not just text as real PROMS questions responses are associated with a particular coded answer and associated score. The text of the answer is not sufficient.

I have documented the relationship between the textual answers and the related codes in the PROMS.md document.

It will be up to the UI team to embed the appropriate codes behind the

[2018-02-28 13:32] robtweed commented on #119
Regarding the first bit, have the required / appropriate set of codes & associated phrases been set up on Marand & EtherCIS?  Or are those just examples of what the codes might look like?

How do you set up / define codes such as these on OpenEHR, and how do you discover what they are (which is what QEWD is going to have to do)?

As to that second question - I agree, that's completely out of line

[2018-02-28 14:57] freshehr commented on #119
Hi @robtweed - the codes and associated text terms are defined in the archetype and exposed in the template.
I have documented them in the PROMS.md file but they are also in the .opt and associated web template.

[2018-03-01 09:23] robtweed commented on #129
I've made changes to how sessions are controlled on EtherCIS which appears to rectify this problem

[2018-03-01 11:26] robtweed commented on #75
The QEWD back-end takes the array of code/name pairs and generates a POST request for each one.  The problem is we're getting an error from EtherCIS - it's still complaining about the timing field.  Here's an example - the FlatJSON being sent to EtherCIS:

{
  "host": "ethercis",
  "url": "/rest/v1/composition",
  "queryString": {
    "templateId": "IDCR - Laboratory Order.v0",
    "ehrId": "cd8ab

[2018-03-01 11:33] robtweed commented on #75
Anne: Regarding your question concerning the request format when posting more than one order

"But there are other fields that we usually send there because we have columns for them such as:
"author":"bob.smith@gmail.com","dateCreated":"1519035350000","source":"ethercis"
Where could we add these fields? Should we send "source":"ethercis" or will we get this field from the backed side when do GET?"

[2018-03-01 11:39] anna-otrokhova commented on #75
@robtweed

Rob, Thank you for the information. According to the project we would need Date and Source as we have the appropriate columns to be displayed. https://prnt.sc/ilc41r

I suppose we could send POST request without Date and source, but anyway we should get these fields in response to Get request. Is it possible?

Also, I should mention that we have to send this field for our purposes, plea

[2018-03-01 11:41] robtweed commented on #75
Anne - regarding your question:

"It is not very clear how it should be displayed the name of orders when we create orders by choosing several available orders http://prntscr.com/igs9gg .
Should be the name created like all of these orders separated by"," for example: name: "Xray Chest X-ray, Radiology-CT Head, Cardiac-ECG, Physio-crutches"?"

As Ian has explained, each individual code/value pair

[2018-03-01 11:44] robtweed commented on #75
Anne - you'll get the fields Author, Source and DateCreated back when you GET the orders.  But QEWD will ignore the Source and DateCreated fields if you send them from PulseTile because it doesn't need them from PulseTile in order to POST new records to EtherCIS

[2018-03-01 11:54] anna-otrokhova commented on #75
Ok. Thank you. @robtweed @freshehr Could you please inform when your changes are ready to let us test it from our side? Thank you in advance.

[2018-03-01 12:09] robtweed commented on #114
Sorry, I don't understand the issue sufficiently.  What API / URL are we talking about?  eg is it

  POST /api/documents/patient/:patientId/:host ?

or are you referring to a different API?

[2018-03-01 15:21] anna-otrokhova commented on #114
@robtweed
When we import documents in Documents heading we use the following requests:

Documents
Propblem/Diagnosis
GET /api/patients/{patientId}/problems/{sourceId}
PUT /api/patients/{patientId}/problems/{sourceId}
POST /api/patients/{patientId}/problems

Allergies
GET /api/patients/{patientId}/allergies/{sourceId}
PUT /api/patients/{patientId}/allergies/{sourceId}
POST /api/patients/{patientId}

[2018-03-01 16:05] robtweed commented on #122
OK there were 2 issues -

1) The middle tier will now fetch and cache a heading if a detail record is requested.  Previously it was assumed that a detail record for a heading would only be requested after the summary records were requested (which results in the heading being cached).  However in the case of TOCs, we can end up requesting a medications detail record before medications have been cac

[2018-03-01 16:14] anna-otrokhova commented on #128
@PhilBarrett @tony-shannon

During developing this task we've got some questions:

1) Do you need such validation when before saving the feed (a new one or edited) we will do a request by the entered rss link to check if it can return xml in this case we will consider it as a valid link and let it be saved?
If the request failed we will show a message to change or correct the link. During checking

[2018-03-01 16:17] robtweed commented on #114
I don't remember enough about how Documents are supposed to work and the mechanics that are supposed to take place.  It would be useful to have a short screen cast showing the steps typically involved in importing documents, or a document that steps me through what you do so that I can reproduce the issue and trace through the middle tier code.

[2018-03-01 16:20] robtweed commented on #114
One thing I don't understand is: where do the Discharge Summary records for 9999999000 and 9999999068 come from?  I don't see a Create or Add button anywhere that allows one to be added via PulseTile.   I'm sure I once knew about this, but I really can't remember how these Documents are supposed to work

[2018-03-01 16:45] anna-otrokhova commented on #94
Done and discussed with Phil on call.

[2018-03-01 16:49] anna-otrokhova commented on #128
3. We suggest an enhancement:
The picture on the Feed block will be taken from the first post and by clicking on this picture user will be redirected to the related post: https://prnt.sc/ilh1e7

[2018-03-01 16:53] freshehr commented on #75
As I said above, the current template is only designed to handle a single order and to work only for lab orders. Making the change to the template is fairly trivial but we do need to distinguish each order. My suggestion is that we just create a uid for each order, so that they can be distinguished in the UI, and so that they can be tracked.

I will not be able to make those changes until next wee

[2018-03-01 17:00] robtweed commented on #75
Yes I think that having such an extra UID field would work.  QEWD could assign its value when it packages up the set of requests for each of the orders and sends them to the OpenEHR machine.  QEWD could also probably group them together again when it retrieves the individual order records, using that UID as the group identifier.  That should keep the work on the OpenEHR template side to a minimum.

[2018-03-01 17:01] robtweed commented on #75
Ian - if you could also check to see why the timing field is causing problems when posting to EtherCIS - when you have the availability.  Thanks!

[2018-03-01 17:02] freshehr commented on #75
It will also help with FHIR alignment. We shouldnlt need the groupingID - the compositionId will do that.

I've no idea why timing is now causing an issue. It used to work fine.

Ian

[2018-03-01 17:05] anna-otrokhova commented on #114
@robtweed
I try to record a video. The templates of Documents are taken from DB. We don't create them. For now, there is only one template we get -> Discharged Summary ( but there could be also Referrals Summary, they are a little bit different). By the way, there is an issue  on github to add it -> https://github.com/PulseTile/PulseTile-React/issues/132

[2018-03-01 17:10] anna-otrokhova commented on #114
Here is a record https://drive.google.com/file/d/1T1Iyj8SxiXkCi4ztrwTDlytICqlCWp2e/view

[2018-03-01 17:14] freshehr commented on #75
@robtweed - there are a few mandatory elements unpopulated in the example above.
[code]
You have to populate the name and code of the test requested (assuming that this a coded value)

If it is just a text-only value for the request name, you just send
"laboratory_order/laboratory_test_request/request/service_requested": "Urea and Electrolytes",
no need to send the |code and |terminology lines. Th

[2018-03-01 17:53] PhilBarrett commented on #128
@anna-otrokhova  thanks for these updates, we will come back to you shortly.

Re:

The picture on the Feed block will be taken from the first post and by clicking on this picture user will be redirected to the related post: https://prnt.sc/ilh1e7

A great enhancement suggestion @ahoncharov , thank you, that works fine and looks great.

@DimaPolishuk1995 we couldn't see the hover functionality work

[2018-03-01 18:04] robtweed commented on #75
Hi Ian - actually I posted an erroneous record, the reason for which I know and I'll get rid of.  However the POSTed requests seem to go through OK - here's the pair I just tried - first the request bodies:

    "body": {
      "ctx/composer_name": "Dr Tony Shannon",
      "ctx/health_care_facility|id": "999999-345",
      "ctx/health_care_facility|name": "Northumbria Community NHS",
      "ctx/id

[2018-03-01 18:16] PhilBarrett commented on #94
Final query following further testing.

When I am in the search box and hit the spacebar a list of possible entries doesn't appear. When i enter a character it works fine, but the spacebar function isn't there.

![screen shot 2018-03-01 at 17 15 46](https://user-images.githubusercontent.com/12699244/36861678-7ced1e80-1d7c-11e8-8f3d-1c55148053b4.png)

[2018-03-01 21:55] freshehr commented on #75
@robtweed : Indeed a mnor typo in AQL but significant
Try this ..
[code]

[2018-03-02 09:06] robtweed commented on #75
Ian

I switched the laborders.aql file to your new version (from what I could see the only change was:

  ACTION b_a[openEHR-EHR-ACTION.laboratory_test.v1])

to

  ACTION b_a[openEHR-EHR-ACTION.laboratory_test.v0])

ie the version number.  However, it still just retrieves null values from EtherCIS for me:

{"Test_name":null,"uid":"a0a301a4-02b6-4f97-bd57-47a17f45c3ec::vm01.ethercis.org::1","code":

[2018-03-02 09:16] robtweed commented on #75
Also Ian - would it be possible to clear out all the lab orders for 9999999000 (Ivor Cox) on EtherCIS? - it will be a lot easier to find new test postings and there's probably a lot of broken data in there

[2018-03-02 09:29] robtweed commented on #75
Anne - Just checking what is sent by PulseTile when you create lab orders.  It appears to ignore the items I selected from the menu (XRay Chest X-Ray and Physio Crutches) and sent a POST request for XRay Chest X-ray and Radiology-CT Head.   Was I doing something wrong or is there a problem in PulseTile?

[2018-03-02 09:58] robtweed commented on #119
Ian: One unresolved issue that makes it tricky to make progress on this: in the screenshots etc for Proms, each one has a name displayed in the UI, and the name field is sent in POST requests and expected from the GET requests.  However I don't see a placeholder in the AQL and Flat JSON for a field that could be used for the Prom Name.  Am I missing something, or does the template require a new ad

[2018-03-02 10:00] robtweed commented on #45
Can this now be closed?  I believe QEWD is sending what's needed for this issue to be resolved

[2018-03-02 10:05] robtweed commented on #128
Someone needs to explain what this heading is about and how it's intended to work.  In particular, what role is the middle tier expected to have?

[2018-03-02 10:22] robtweed commented on #121
Anne - it would probably be a good idea to co-ordinate a test / demonstration for me of this going wrong so I can examine what's going on in the middle tier.

Generally, it would be a good idea for someone else to begin to understand how to examine and understand / interpret the information that is recorded in the QEWD Middle tier log, which shows all incoming requests from PulseTile, what request

[2018-03-02 11:53] freshehr commented on #119
Realistically we will effectively have a single template for each PROMS score set. This is what we found with the Northumbria work. It is possible to rationalise a wee bit by creating super-templates that cover more than one PROMS dialog but that leaves more work for the UI / middleware to apply some business rules to know which components are included - which depend on the procedure and whether t

[2018-03-03 16:59] tony-shannon commented on #121
thanks @robtweed
you've flagged up an important issue there...

can you consider how to expose those logs in the qewd monitor console as part of the admin console
suggest we raise a related issue on qewd-ripple repo and do something on this to take u off the critical path as you say

Tony

[2018-03-03 17:17] tony-shannon commented on #128
Sorry @robtweed
There should be 4 points to the API that need work
its a per user API , rather than per patient
with Name , BaseURL (eg BBC Health Homepage) and RSS URL for related XML feed

There should be a demo available to show you, I cant see it today, but lets discuss with Kirill/Anna when we next schedule a session

@kbeloborodko  can you please consider a Skype session for any issues that

[2018-03-03 17:24] tony-shannon commented on #129
thanks @robtweed

@kbeloborodko can u recheck this test now please

[2018-03-03 19:41] kbeloborodko commented on #128
Hi, @PhilBarrett, could you please explain what do you mean by hover functionality and what issues are you experiencing at the moment?

[2018-03-03 19:47] kbeloborodko commented on #128
Hi, @tony-shannon, sure, we can answer @robtweed's questions about general intention of this heading based on the understanding we have, though potentially you or @PhilBarrett could have a more extended vision as the product owners of this feature. In terms of the API there is an explanation from Anna (at the very top of this issue) where the preferred format of responses and endpoints is specifie

[2018-03-06 05:45] kbeloborodko commented on #75
Hi, @robtweed, thank you very much for your response. First of all, I would like to answer your query:
Anne - Just checking what is sent by PulseTile when you create lab orders. It appears to ignore the items I selected from the menu (XRay Chest X-Ray and Physio Crutches) and sent a POST request for XRay Chest X-ray and Radiology-CT Head. Was I doing something wrong or is there a problem in PulseT

[2018-03-06 22:11] kbeloborodko commented on #81
@tony-shannon we merged the commit history inside the LeedsPHR fork. Now, if you go to "compare" section https://github.com/PulseTile/PulseTile-React/compare/master...LeedsCC:master, you can see that LeedsCC is only two commits ahead of the PulseTile-React repository. These commits contain changes to the readme and configuration files.

[2018-03-06 22:13] kbeloborodko commented on #122
@robtweed we tested the new logic on the dev environment and it works as intended, at least for now, we did not find any issues. Thank you.
CC: @tony-shannon

[2018-03-06 22:29] kbeloborodko commented on #75
Hi, @robtweed, today we were testing the Orders Heading with the real data. The good news is that records are now being created and we can fetch them, the bad news is that for some reason they are created with empty data inside of them.

**Steps to reproduce:**
1) Login as IDCR user and go to one of the patient's Orders heading page https://securedev.ripple.foundation/index.html#/patients/99999990

[2018-03-08 14:28] kbeloborodko commented on #117
@robtweed we added code splitting to our code, so now the main bundle has been reduced to 1.9mb. This should positively affect the load time speed.

CC: @tony-shannon

[2018-03-08 15:34] kbeloborodko commented on #118
@robtweed could you please advise when will you be able to add logout functionality to the dev.ripple test environment?

[2018-03-08 15:39] kbeloborodko commented on #94
@PhilBarrett could you please recheck this issue in the dev environment?

[2018-03-08 16:13] robtweed commented on #118
It's done - now available on both dev and showcase

[2018-03-09 10:55] robtweed commented on #75
Kyrill - yes - see my earlier note about EtherCIS returning null data - you're seeing the same issue.  Ian needs to investigate I think

[2018-03-16 17:19] tony-shannon commented on #119
Hi @kbeloborodko

@robtweed will be updating the API on this as soon as he gets the latest template from @freshehr
Once that is done, can we aim to get the PulseTile UI side updated early/middle next week please?

[2018-03-19 13:43] PhilBarrett commented on #94
Thanks @kbeloborodko

[2018-03-19 13:43] #94 closed

[2018-03-20 08:06] robtweed commented on #119
OK - Proms should be available in the middle tier, at least on dev for now

It follows the usual pattern for a heading, with just one special difference, and that is that the PulseTile UI response structure will contain a field:

- procedureSourceId

  which is the SourceId for the associated Procedure.  I'll explain below:

Before displaying the PROM table for a patient, I'd recommend you first f

[2018-04-19 09:09] robtweed opened #138 "Populating the patient synopsis panes via individual REST requests"
When you select a patient in the PHR UI, the Home screen displays a set of 6 panels showing the latest 4 records for:

- Problems
- Contacts
- Allergies
- Medications
- Vaccinations
- Top 3 Things

Currently PulseTile asks the back-end for the data to populate these panels via a single REST API, eg:

GET /api/patients/9999999000

The problem is that this presents the back-end with a very large and

[2018-05-04 10:13] robtweed opened #139 "Patient Counts being invoked for too many patients at a time"
I've just noticed what I believe is an error - at the very least an inefficiency - in the patient counts API as used by the Leeds PHR UI (and probably in Ripple too).  This is the API I'm referring to:

GET /api/patients/{patientId}/counts

The original idea was that this API should be invoked for ONLY those patients currently displayed in the Patient Listings screen - ie the current (up to) 10 on

[2018-05-08 12:46] tony-shannon commented on #96
It appears Creating (adding /POST) new issue was not finished on this module, so this issue needs to be reopened

[2018-05-10 15:18] robtweed commented on #138
One additional change related to this - another set of data returned by the original single API is the demographics data for the patient.  The UI will need to fetch this using another API:

GET /api/demographics/{{patientid}}

eg GET /api/demographics/9999999000

This returns the info to populate the patient banner (name, address, GP details etc)

[2018-05-14 13:39] robtweed opened #140 "Change required to Leeds PHR Sign Out"
Having moved the UI to use our own OpenID Connect Server for authentication, I've discovered that the mechanism I previously figured out for user sign out was working incorrectly (though it did work against the Gov.UK Verify sandbox).

What I now need you to do is as follows:

- when the PulseTile User Sign Out button is pressed, it should send the GET /api/logout request as before

- the response

[2018-05-16 15:56] kbeloborodko opened #142 "Define and standardize the build process, establish set of plugins that should be part of the resulting bundle"

[2018-05-16 16:01] kbeloborodko opened #143 "Split modules into core + plugins"

[2018-05-17 13:15] kbeloborodko opened #144 "Extra Leeds PHR specific styles and images to a separate fork"

[2018-05-17 16:39] kbeloborodko commented on #144
1. Leeds PHR specific images that are contained under src/assets/images directory should be moved to LeedsCC fork
2. _leedsPHR.scss file that is contained under src/styles/themes directory should be moved to LeedsCC fork

[2018-05-18 09:39] juliashulga commented on #138
task is done

[2018-05-18 10:49] tony-shannon commented on #138
thanks @juliashulga
Suggest we make sure this is working as requested soon, then we can consider closing this issue
T

[2018-05-18 13:28] juliashulga commented on #138
**New adjustment:**
optimization in file src/components/pages/PatientsSummary/separate-selectors.js

Create one selector to replace it with current 6 selectors

[2018-05-18 13:48] tony-shannon commented on #138
thanks Julia
That adjustment remains TODO

[2018-05-23 12:16] juliashulga opened #148 "PulseTile React refactoring Summer 2018 tidyup"

[2018-05-23 12:17] juliashulga opened #149 "End 2 End Testing Summer 2018 tidyup"

[2018-05-23 12:17] juliashulga opened #150 "Builds & Bugs tidy up"

[2018-05-23 12:17] juliashulga opened #151 "Plugins tidyup"

[2018-05-25 15:26] BogdanScherban commented on #128
Hi, @robtweed !
We made all required changes at the client side. Can you update server side?

Because now feeds API returns empty array and don't create/edit new Feeds.

[2018-05-28 13:33] tony-shannon commented on #149
#79
#125
#129
#130

[2018-05-28 13:45] tony-shannon commented on #148
- [ ] #45
- [ ] #94
- [ ] #98
- [ ] #75
- [ ] #113
- [ ] #114
- [ ] #115
- [ ] #117
- [ ] #118
- [ ] #121
- [ ] #122
- [ ] #123
- [ ] #131
- [ ] #132
- [ ] #139

[2018-05-28 14:00] tony-shannon commented on #151
Need to mimic PulseTile (Angular) Core + Plugins
See those repos

See this one about moving PROMS, Top 3 things etc to the Plugins Repo
#143

[2018-05-28 14:02] tony-shannon commented on #150
Build issues

#142
and maybe
#144 (? a fork issue)

Bugs (some cross over with tidyup issues here)

#63
#75
#114
#115
#121
#122

[2018-05-28 14:53] #42 closed

[2018-05-29 10:02] tony-shannon opened #153 "Expired session should force application logout at UI"
OK so if PulseTile gets an error response telling it that the token is invalid or expired, it should be handling that by re-loading the app from the top again, perhaps initially telling the user that they've timed ou

[2018-05-29 10:05] tony-shannon commented on #153
here I had logged in and then went away , got distracted

when I returned I wanted to check the meds, but the session had timed out

the application should have forced me to login again

It did not
It kept this display

![image](https://user-images.githubusercontent.com/939996/40652429-241b4364-6330-11e8-816f-339a10278e8c.png)

[2018-05-29 10:37] robtweed commented on #128
I've tried to check out the problem you're referring to using dev.ripple.foundation:8000, but can't.  I see two problems:

1) when I log in as 9999999015 and select Feeds, I see 5 coming up in PulseTile, but none of these has come from the QEWD database because there are no feeds in the database for this patient.  I assume the 5 I am seeing in PulseTile are hard-coded in some way?

2) When I try t

[2018-05-29 11:37] BogdanScherban commented on #128
For @robtweed:
1) Yes, it is hardcode data. Now request api/feeds returns empty array like [].
For these reason we added hardcode array to the element, which returns response. We can remove hardcode and use results of request, but Feeds list will be empty in this case.

2) I tried to add new Feeds by follow steps:
**My POST-request:**
http://dev.ripple.foundation:8000/api/feeds with payload and Au

[2018-05-29 12:42] robtweed commented on #128
It works fine for me - remember that the POST body payload MUST be valid JSON (ie double-quoted names and values).  Also the URLs MUST be validly-structured URLs - text will be rejected.

So I did this for patient 9999999015

POST http://dev.ripple.foundation:8000/api/feeds

{
  "name": "test feed",
  "landingPageUrl": "http://www.mgateway.com/feed",
  "rssFeedUrl": "http://www.mgateway.com/rss",

[2018-05-30 07:41] juliashulga opened #154 "Clear space on End2End testing server"

[2018-05-30 07:41] juliashulga commented on #154
#149

[2018-05-30 12:32] robtweed commented on #128
Tony has found that if he clicks on a feed URL link that doesn't actually exist (eg the ones I provided in the example above), then PulseTile brings up an error and, from what I could understand, PulseTile is then locked up.

Whilst the back-end can validate the physical structure of the feed URLs, it cannot check that they are valid links that actually work.

Can you look at what's needed in Puls

[2018-05-31 07:35] tony-shannon commented on #96
ok @juliashulga
Understood

Just to note there are several patients we are trying to keep clean for demo purposes
esp NHS No 9999999015( Booth H)

@robtweed can you give Julia access to the PHR dev environment where she can access a range of patients for testing purposes.. (ie bypass the Citizen ID logon wayin)

thanks
T

[2018-05-31 07:50] juliashulga opened #156 "Create one selector to replace it with current 6 selectors"
optimization in file src/components/pages/PatientsSummary/separate-selectors.js  https://github.com/PulseTile/PulseTile-React/issues/138#issuecomment-390206814

[2018-06-01 08:05] juliashulga opened #159 "Handle error "Invalid JWT: Error: Token expired""
If the session has timed out, the user must be forced to log in again.
Need to delete the JSESSIONID token and reload the index.html page.  That will force the user to log in and start again from the top
If the session has expired, before redirecting to the index.html again,  it should put up a warning to the user, in a modal window, saying something like "Your session has expired.  Click the butt

[2018-06-05 09:07] juliashulga opened #162 "Display user friendly error messages when data is not being brought over. (Server side message - needs info from QEWD)"
![img_05062018_090930_0](https://user-images.githubusercontent.com/39296691/40966356-f6d58b06-68b8-11e8-98da-324080255f7b.png)

[2018-06-05 09:07] juliashulga opened #163 "Migrate feeds data from browser side to server side for all users in demo environment, so it is the default"

[2018-06-05 16:52] PhilBarrett opened #165 "Patient Summary screen - Loading of table behaviour"
With a patient with a large data set, when loading it briefly shows large empty table, before being loaded properly. See video, example with Problems/diagnosis in this case.

![problems diagnosis homescreen](https://user-images.githubusercontent.com/12699244/40990558-207c374a-68e9-11e8-8a43-524d1742c5a5.gif)

[2018-06-06 07:57] BogdanScherban commented on #128
@robtweed according to @tony-shannon task:

1)  Display user friendly error messages when data is not being brought over. (Server side message - needs info from QEWD)
2) Migrate feeds data from browser side to server side for all users in demo environment, so it is the default

Our proposition:

1) feeds request (/api/feeds) will return one additional parameter isActive which will be equal true or

[2018-06-06 16:19] BogdanScherban commented on #128
Problem, that some feeds return nothing, can be solved for Chrome browser, if we install tool, which enables cross-origin requests:
https://chrome.google.com/webstore/detail/allow-control-allow-origi/nlfbmbojpeacfghkpbjhddihlkkiljbi

[2018-06-07 09:13] tony-shannon commented on #128
thanks @Bogdan
We dont use Chrome plugins, as solution needs to be independent of it

[2018-06-08 10:21] tony-shannon commented on #143
eg : Top 3 Things, PROMs and Feeds to a separate repository under https://github.com/pulsetile-plugins account

[2018-06-08 10:22] tony-shannon commented on #143
need to follow the pattern in the Angular repo

Core repo has small number of modules

Silver plugins has many more modules ( stable ones)

Bronze plugins are new/under dev etc

[2018-06-08 10:27] tony-shannon commented on #94
I've rechecked it, working ok

[2018-06-08 10:30] tony-shannon commented on #117
Need to use these tools to test with slow 3g

![image](https://user-images.githubusercontent.com/939996/41153655-4741109e-6b0f-11e8-9141-38db43052c93.png)

[2018-06-08 10:32] tony-shannon opened #166 "UI kit for React needed"
Need to match UI kit like Angular version/documentation

[2018-06-08 10:40] tony-shannon commented on #144
move to LeedsCC repo?

Bogdan saying images are handled server side??
We need to ensure UI theme images are kept in client side repo, LeedsCC repo or another repo for theming images

[2018-06-08 10:44] tony-shannon commented on #142
Need to have core repos for core modules (Angular & React)

Also need to have plugin repos for extra modules
eg Silver (stable , common components)
and Bronze ( under development, perhaps rarer components)

The build process needs to take modules from core and plugins to craft the build file
eg
PulseTileCore.build
PulseTileFull.build
LeedsCC.build
Helm.build

[2018-06-08 10:53] tony-shannon commented on #79
Julia has access to the e2e server , IP ending x.x.x.243
confirmed access ok

[2018-06-08 10:54] tony-shannon commented on #79
need to clear space ; issue #154

[2018-06-08 11:07] tony-shannon commented on #156
duplicate issue , linked to #138

[2018-06-08 11:10] tony-shannon commented on #156
going to close this issue as linked to #138 for now

[2018-06-08 11:10] #156 closed

[2018-06-08 11:11] tony-shannon commented on #138
@juliashulga  please check with @robtweed  that he is happy this can be closed

[2018-06-08 13:16] BogdanScherban commented on #144
@kbeloborodko @tony-shannon

I tried to solve this task by the method, which is described upper.

But it was impossible, because in this case Main and LeedsCC repositories will have different code.
Now these two repositories are different only by one theme constant.

If we want to remove image-files and style-files from Main, we must remove all importing of these files in React-code. In opposite c

[2018-06-08 16:45] tony-shannon commented on #128
@juliashulga  can you suggest what needs to be done ? I dont understand the bug you mention, a screenshot would help

+ we are waiting for @BogdanScherban to update this thread with his latest work on feeds

[2018-06-08 17:03] tony-shannon commented on #153
and again cant sign in
![image](https://user-images.githubusercontent.com/939996/41170892-46352028-6b46-11e8-8cd2-275aec1f208f.png)

[2018-06-11 13:46] juliashulga commented on #138
Hi @robtweed can this task be closed now ? is everything ok here ?

[2018-06-11 14:38] BogdanScherban commented on #128
I solved this task and prepared PR for it. Build was updated

[2018-06-11 14:39] tony-shannon commented on #128
thanks @BogdanScherban

@juliashulga thanks for testing it for us

T

[2018-06-11 14:40] robtweed commented on #138
Yes it seems to work OK now

[2018-06-11 14:44] BogdanScherban commented on #40
Current test coverage 100% for LeedsCC theme probably was reached with settings MainTheme (instead of Leeds-theme).
It is necessary to make some changes in tests to provide required test coverage both for Main theme and Leeds theme.

[2018-06-11 15:05] BogdanScherban commented on #159
I have two questions about token:
1) Where should it be located? In payloads or in headers?
2) What error code is returned if token absent or wrong?

[2018-06-12 08:22] juliashulga commented on #128
tested - creating, editing of feeds works.
Selecting feeds and displaying also works.

[2018-06-12 09:01] juliashulga commented on #140
Tested on 9999999000 and 99999990015 users - sign in / sign out at dev.ripple.foundation:8000 works properly.

@tony-shannon can we consider the task is done ?

[2018-06-12 09:52] tony-shannon commented on #140
thanks Julia
I suggest you leave your Helm PHR browser tab open for a while and then see if logouts work fine.
The Helm PHR demo needs a lot of testing to iron out bugs so I would rather this is retested several times before closing please
thanks
Tony

[2018-06-12 12:47] BogdanScherban commented on #117
I checked in **slow 3G mode.** It is equal:
19.31 seconds (30,7 kB) - without Feeds RSS
22.1 seconds (186 kB) - with all Feeds

**For comparison (normal mode):**
3.89 seconds (29,9 kB) - without Feeds RSS
4 seconds (184 kB) - with all Feeds

[2018-06-12 12:48] tony-shannon commented on #117
thanks @BogdanScherban
Please check the behaviour of the application in slow 3G mode and document any related problems you see after checking several times.
thanks
Tony

[2018-06-12 13:31] BogdanScherban commented on #117
@tony-shannon
I checked several times for both cases (with/without Feeds), so:
- the same result 19-23 sec for both cases, if we reload the page
- 1-2 minutes when we reload page with cache cleaning.

The main part of this time is spent on main.JS and style.css files loading
(look at image)

But loading time of our request (Demographics, Feeds, Headings etc.) isn't more then 2-3 seconds for each.

[2018-06-12 14:29] BogdanScherban commented on #117
@robtweed
Rob, Patient Summary page loading time equals 1...2 minutes at slow 3G mode.
The main part of this time is loading of files main.js and style.css

Is there any way to reduce loading time from the client side?

[2018-06-12 14:38] tony-shannon commented on #117
Thanks @BogdanScherban

I suggest we ask @kbeloborodko that question

thanks

[2018-06-12 15:19] BogdanScherban commented on #139
@robtweed

Rob, do I understand correctly, that I need to send requests only for current 10 patients depending on pagination position? Instead of requests for all patients?

[2018-06-13 18:58] devmikey opened #169 "Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema."
Getting the following error when running npm run start.

Invalid configuration object. Webpack has been initialised using a configuration object that does not match the API schema.
 - configuration.entry should be one of these:
   object { <key>: non-empty string | [non-empty string] } | non-empty string | [non-empty string] | function

Is there an issue with the webpack config.

I'm developing un

[2018-06-13 20:00] tony-shannon commented on #169
thanks @devmikey

@kbeloborodko could you please offer advice on this one?

thanks
Tony

[2018-06-13 20:57] devmikey commented on #169
Resolved this - see issue reported at [https://github.com/vuejs-templates/webpack-simple/issues/136](url)

[2018-06-13 20:57] #169 closed

[2018-06-13 21:00] tony-shannon commented on #169
thank you @devmikey

[2018-06-14 09:43] juliashulga opened #170 "Cross browsers testing"
- [ ] #177  in FireFox sign-out isn't working at all
- [ ] #176 HELM PHR doesn't load in IE 11

[2018-06-14 10:04] tony-shannon commented on #170
@simongamester thanks for a view on target for this

[2018-06-14 10:55] simongamester commented on #170
@tony-shannon Recommended browsers continually changes, however I would suggest the following based on current web usage stats - https://www.w3schools.com/BROWSERS/default.asp

Desktop
- Chrome v66 (latest) to v63
- IE11 (sorry)
- Edge (latest)
- Firefox (latest)
- Safari (latest)

Mobile
- Safari iOS11 (latest)
- Chrome (latest)

BrowserStack allow for live testing on all popular browsers above a

[2018-06-14 12:08] tony-shannon commented on #144
@kbeloborodko  to lead and guide us on this

[2018-06-15 07:07] juliashulga opened #171 "Rename plugins for consistency"
Problems/Diagnosis -> Diagnosis,
 MDT -> GenericMdt,
TestResults -> Results

[2018-06-18 10:28] PhilBarrett commented on #170
BrowserStack OS application approved. Adding browserstack logo and acknowledgement into Repo before adding team account access

[2018-06-20 08:03] BogdanScherban commented on #151
@tony-shannon @kbeloborodko
I've extracted all non-core plugins from the Main repository and relocated them to separate plugin's repositories.

Pull-requests for plugins repositories (Carbon, Bronze and Silver) were approved by @kbeloborodko earlier.

PR for plugins extracting from the Main project is ready and needs in code review by @kbeloborodko

[2018-06-20 08:08] robtweed commented on #139
Yes that is what it should do - only retrieve the counts for the patients currently on display.  So each time you select a next page it should fetch the counts for the new page of patients.

Currently, if there are 200 patients in a group, then it's sending out 200 count requests, which is very wasteful and hammers the back-end needlessly.

[2018-06-21 08:06] juliashulga opened #176 "PHR doesn't load in IE 11"

[2018-06-21 08:10] juliashulga commented on #176
![awesomescreenshot-2018-06-21t08-02-41-740z](https://user-images.githubusercontent.com/39296691/41706115-a508e79a-7543-11e8-8ec7-cc4ebc8380c3.gif)

[2018-06-21 08:38] juliashulga opened #177 "Sign out doesn't work at FireFox 60.0.2"
Upon clicking nothing happens , in console no errors - http://prntscr.com/jxiazh

[2018-06-21 11:02] juliashulga commented on #139
Hi @robtweed

1) Is there a way to receive from backend the total number of users corresponding to the search parameter?
2) And also, is there a way to receive these users with some limit?
(For instance, if I pass the parameter offset0 -> backend send the first 20 users, from 0 to 19)?

Could you please advise?

[2018-06-22 09:42] juliashulga opened #180 "Plugins to add to LeedsCC"
The following plugins should be in LeedsCC

- Diagnosis,
- contacts,
- allergies,
- medications,
- Vaccinations,
- Feeds
-  top 3 things

[2018-06-22 13:43] PhilBarrett commented on #170
Browserstack account now set up and access shared. @kbeloborodko please also let me know if you'd also like access.

[2018-06-24 18:46] kbeloborodko commented on #170
Hi, @PhilBarrett, yes, I would also like to have access if possible. Thank you!

[2018-06-26 12:07] juliashulga opened #182 "test"

[2018-06-27 14:43] juliashulga commented on #139
@tony-shannon
Oleg reduced the number of counts so that they are only dedicated to the certain page only.

When I do testing I see that it gets all the patients but not by page - https://prnt.sc/jzv62s
Do we need to get only that number of patients which is corresponding to the search parameter ? so it sends only 10 requests per one page and all the rest by going through next pages ?

[2018-06-28 15:46] kuvakina opened #184 "try01"

[2018-07-03 14:46] kuvakina commented on #159
I reproduced this bug in Chrome:
1) I was logout after the session has timed out;
2) I was redirected to sigh in page (with email address and password fields)
3) After I clicked sigh in I was forwarded to following page (see image)
![2018-07-03_1700](https://user-images.githubusercontent.com/40596171/42225369-17733434-7ee5-11e8-911d-22e49681b5a8.png)

As you can see from next image, I got this err

[2018-07-05 08:10] kuvakina commented on #140
Update on 04.07.2018

Sign in / sign out for 9999999000 and 99999990015 users at dev.ripple.foundation:8000 works properly for the following browsers:
Desktop:
- Chrome - YES
- Mozilla - YES
- Safari - YES
- IE11 - there is an issue, it's being fixed right now
Mobile:
- Safari iOS11 - YES
- Chrome - YES

@tony-shannon after we fix issues with IE11, can we consider this task as Done?

[2018-07-05 08:35] kuvakina commented on #117
@tony-shannon
Update on 05.07.2018

Bogdan had an idea how we can reduce loading time. He proposed to repeat loading time checking after non-core plugins extracting. Unfortunately, loading time (in slow 3G) isn't changed.

We'll look further at what we can do to reduce time.

[2018-07-05 09:05] kuvakina commented on #159
Update on 05.07.2018

Regarding the previous bug: it seems I manage to find when it appears.

This bug I could reproduce in Chrome, Firefox, and Chrome (Android). In the first login, I see the Login page. I input email and password. After click Sign in I redirected on the error page.

Also, in Firefox today, after I tried to login under 99999990015 user, I got this message:
![176_bug_3](https://us

[2018-07-05 09:40] kuvakina commented on #176
Update on 05/07/2018

At the moment IE11 can load Login page.
![176](https://user-images.githubusercontent.com/40596171/42315434-177f815a-8050-11e8-919d-8f9ba8479328.png)

But when we input email/password and click Sign in we are followed to the error page:
![176_bug_2_ token](https://user-images.githubusercontent.com/40596171/42315419-0eadb8d0-8050-11e8-8159-d04943ea4198.png)

Oleg looking into t

[2018-07-05 10:31] kuvakina commented on #151
@tony-shannon
The plugins were added to LeedsCC (#180)

Can we consider this issue Done?

[2018-07-05 13:48] kuvakina commented on #177
@tony-shannon

This bug was fixed and right we can successfully log out from Firefox. Can we conclude this task as a Done?

[The problem was a small bug with HTML markup. On Firefox an event couldn't go through (did not work out clicking on the wrapper in which the button was). Oleg moved the listener to the wrapper.]

[2018-07-06 08:12] juliashulga opened #185 "##### To Do List - Break Point A #############"

[2018-07-06 12:51] kuvakina commented on #40
@tony-shannon
Unit tests were updated for work both with the Main theme and the LeedsCC.

Can we consider this task as a Done?

[2018-07-07 19:02] kuvakina commented on #162
We couldn't repeat the error, but added messages:

- connection error: 'Some connection error has occurred. Please check your connection and try again.'
- 403 or 400 with token's problems: 'Your session has expired. Click the button to log in again'
- 400: 'Error 400: { text of error }'
- 404: 'API is currently unavailable'
- server errors: 'Something is wrong with the server. Please try again lat

[2018-07-09 22:23] tony-shannon commented on #151
Can do for now, thanks

[2018-07-09 22:23] #151 closed

[2018-07-09 22:28] tony-shannon commented on #180
@kuvakina has this been done?

[2018-07-09 22:29] tony-shannon commented on #40
@kuvakina before we do.. can I get a view on this on the 2 key repos for PulseTile React please?
the Core repo + the Plus (inc Plugins) repo
are they both covered 100%?

[2018-07-10 09:14] kuvakina commented on #170
@tony-shannon For now I can't suggest it, we still have issues with IE11.

Oleg has a few ideas about why we can't log in to IE11, but I think he'll need Rob's help (the issue might be related to the backend and Oleg wants to check it).

[2018-07-10 09:17] kuvakina commented on #139
@tony-shannon Sorry, we might have to check this issue one more time: last time I checked it, it was working but now it again loads all counts. I'll try to update you today till evening regarding this problem.

[2018-07-10 09:20] kuvakina commented on #180
@tony-shannon yes, this one is done and we merged it. Can we put it to Done?

[2018-07-10 09:45] tony-shannon commented on #170
thansk for update @kuvakina
Lets leave this open for now then
thanks

[2018-07-10 09:46] tony-shannon commented on #139
OK thanks @kuvakina

[2018-07-10 09:46] tony-shannon commented on #180
ok @kuvakina please do

[2018-07-10 09:46] #180 closed

[2018-07-10 11:16] BogdanScherban commented on #40
![screenshot from 2018-07-10 14-11-32](https://user-images.githubusercontent.com/39263134/42506695-4ac38f30-844b-11e8-8370-8f1b0010c4ab.png)

@tony-shannon
Hi, Tony! You can see the difference between LeedsCC-repo and Core-repo.
There are three plugins: Feeds, TopThreeThings and Vaccinations, which are presented in LeedsCC and absent in Core (as non-core plugins)
https://github.com/LeedsCC/PulseTi

[2018-07-10 12:30] tony-shannon commented on #162
thanks @kuvakina
this probably needs a bit of discussion with @robtweed if he can provide QEWD side message if a service eg openEHR/other is down and not retrieving data
The pic above shows Allergies, Meds etc without data..but without explaining why they were empty
So thanks for the progress made but lets connect with Rob on this one
thanks
Tony

[2018-07-10 12:33] tony-shannon commented on #177
thanks @kuvakina
If you say this bug is fixed, then we can close for now
thanks
Tony

[2018-07-10 12:33] #177 closed

[2018-07-10 12:36] tony-shannon commented on #159
Update on this one from email trail;

############
thanks Alexandra
thats ok for now

Tony

On 10 July 2018 at 10:26, Alexandra Kuvakina <a.kuvakina@piogroup.net> wrote:
Hello Tony!

Re: #159

Regarding this one. I'm not with what it related, but for the past two days, I couldn't reproduce this problem. So, for now, I suggest to put in Exploring and return to it if I could reproduce this issue. Wh

[2018-07-10 12:56] BogdanScherban commented on #40
@tony-shannon
Sorry, Tony! I thought you asked about plugins separation.

I've checked coverage now:
1) Test coverage at LeedsCC is 100%.
2) Unit tests at Core failed. I assume it could be because of last Oleg's changes (related to Counts) that wasn't covered by tests. We will wrote Oleg about this problem. He should update tests according to his changes.

[2018-07-10 13:18] tony-shannon commented on #40
ok thanks for update @BogdanScherban

[2018-07-10 13:46] kuvakina commented on #162
@tony-shannon Ok, I understand, thank you.

[2018-07-10 14:05] kuvakina opened #186 "Handle error "Invalid JWT: Error: Not enough or too many segments""
I had an open tab of our website ( http://dev.ripple.foundation:8000 ).
Then I log in to http://dev.ripple.foundation:8000 and moved to http://dev.ripple.foundation .
After I tested some issues there, I returned to http://dev.ripple.foundation:8000 .
And there I get the message that I have to re-login, and after I log in I got the following error message:

![new_bug](https://user-images.githubuser

[2018-07-11 10:21] kuvakina commented on #153
@tony-shannon Here you can see that force application logout is working for all browsers (exect IE11, we still working on this issue):

Edge:
![153_edge](https://user-images.githubusercontent.com/40596171/42564443-7001cd52-8509-11e8-8b19-eb37b32d5b2e.png)
Mozilla Firefox:
![153_ff](https://user-images.githubusercontent.com/40596171/42564444-70272f48-8509-11e8-841f-35fe0e3b544e.png)
Chrome:
![153_c

[2018-07-11 10:22] BogdanScherban commented on #144
@tony-shannon
Hi, Tony!

We solved this problem by the follow way:
1) all non-core plugins and images were removed from the Core-repo;
2) created separate fork for LeedsCC-version;
3) added non-core plugins, which were necessary in Leeds;
4) added images to client side and inported them to React.

Changes were checked, testes and approved by Kirill.
Now this task is done.

[2018-07-11 11:56] tony-shannon commented on #153
thanks for update @kuvakina

[2018-07-11 11:57] tony-shannon commented on #144
tthanks @BogdanScherban
Can you explain what u mean by "added images to client side and inported them to React."

[2018-07-11 15:07] BogdanScherban commented on #144
@tony-shannon

Sorry, I mean 'imported'.
We located images in client side and imported them as React-components (in LeedsCC-repo).
In Core-repo images are absent.

[2018-07-11 15:58] tony-shannon commented on #144
ok thanks Bogdan
what folder have u moved images to?
Thanks T

[2018-07-11 16:00] BogdanScherban commented on #144
The same folder, which was earlier: /src/assets/images

[2018-07-11 16:03] tony-shannon commented on #144
ok thanks

[2018-07-13 14:34] tony-shannon commented on #142
thanks @BogdanScherban

Quick feedback
- that document is far too long, we need an explanation for the process of adding plugins (+/- removing) with 1 or 2 examples,. not 28 pages with explanations of each one.
 - need to stop using Google Docs , need to use this github site for such documentation.
-also remember the core docs are here, so you should be prepping a PR with a markdown page for it
ht

[2018-07-16 11:48] kuvakina opened #187 "Data isn't being brought over"
It seems server doesn't return Vaccination and Contacts information for user hashim.booth@ripple.foundation , as you can see on the console:
For Vaccination:
![](https://content.screencast.com/users/Sasha1228/folders/Jing/media/28fd6efd-241a-43a8-9141-37294e838583/2018-07-16_1426.png)
For Contacts:
![](https://content.screencast.com/users/Sasha1228/folders/Jing/media/c5ba801d-9f1c-496a-b1a3-194a41

[2018-07-16 11:54] tony-shannon commented on #187
thanks Aleksandra

Think this issue should be on the LeedsPHR repo tbh
T

On 16 July 2018 at 12:48, kuvakina <notifications@github.com> wrote:

[2018-07-16 12:03] kuvakina commented on #187
@tony-shannon Sorry, re-make it

[2018-07-16 12:19] kuvakina commented on #187
Issue solved: have to reboot EtherCIS

[2018-07-16 16:11] BogdanScherban commented on #142
@tony-shannon
Hi, Tony! I have two additional Q for this task:
1) What about this type of build label?
{repository type}.build-{version date}.zip
https://github.com/BogdanScherban/PulseTile-React/tree/full-plugins-version/build
https://github.com/BogdanScherban/PulseTile-React/tree/develop-core-build/build
https://github.com/BogdanScherban/PulseTile-React/tree/develop-leeds-new/build

2) Unfortuna

[2018-07-16 16:40] tony-shannon commented on #142
thanks @BogdanScherban
the build label could work for core + plugins
LeedsPHR build should be in that repo

Surely we can do better than variation from 4 -14 steps?
@kbeloborodko can I get a view on this please

[2018-07-18 08:45] BogdanScherban commented on #117
@tony-shannon  @kbeloborodko

I reduced load time at 3G mode. Now it 40-50 sec (in comparison with 1-2 min early), after browser data cleaning. What I did:
1) minimized CSS-files
2) removed some plugins from build which aren't critical in imagination.

We can see the difference of file sizes at screenshots

![01](https://user-images.githubusercontent.com/39263134/42869991-484c9d20-8a7f-11e8-9622-5

[2018-07-19 12:36] kuvakina commented on #117
@tony-shannon
I want to notice, that load time - 40-50 seconds is for slow 3G speed lesser than 250kb/s. It was tested in Chrome emulator.

[2018-07-19 13:48] kuvakina opened #189 "Issue with conecting to Remote desktop"
We had a problem to connect to the Remote desktop to perform End2End testing, even using instruction.

The main problem was that our connection was terminated by the remote computer (before I used VNC extension for Chrome):

First I checked on the server (we used PuTTY) if there are any processes and if yes, on which port:
![putty](https://user-images.githubusercontent.com/40596171/42943088-862321

[2018-07-19 14:22] BogdanScherban commented on #142
@tony-shannon @kbeloborodko

There are two PR-s needs in code-review:
1) For LeedsCC https://github.com/LeedsCC/PulseTile-React/pull/20/files
2) For PulseTile-Core https://github.com/PulseTile/PulseTile-React-Core/pull/190

**Changes:**
- all tests work correctly in both modes (Main-theme and LeedsCC-theme).
- zip-archives for build are created automatically and located in build storage folder

Do

[2018-07-19 14:32] kuvakina opened #191 "PatientList Unit-test coverage"
Unit-test is working correctly now. But some rows in PatientList tests aren't covered.

![image](https://user-images.githubusercontent.com/40596171/42949081-a497d2b6-8b79-11e8-88d6-f94450a78e43.png)

@olegmdev Could you please check it?

[2018-07-19 16:08] kuvakina opened #192 "End2End testing. Issue with Showcase job"
@tony-shannon

As we tried to find out a pattern in End2End testing for Showcase, we see the same error and failure:

1) Error at the beginning of the test:
![sc1](https://user-images.githubusercontent.com/40596171/42955388-4b819d3a-8b86-11e8-9e23-1d8ec6aa5d7f.png)

2) And failure:
![sc2](https://user-images.githubusercontent.com/40596171/42955579-7ad79a1c-8b86-11e8-9a17-bd0729d85d16.png)

I think

[2018-07-19 16:11] kuvakina opened #193 "End2End testing. Issue with Angular job"
@tony-shannon

As we tried to figure out a pattern in End2End testing for React, we noticed some issues:

1) Until Monday, 16.07.2018, jobs on Angular failed. Mostly that were the same errors (for 45-49 builds):
![ang48](https://user-images.githubusercontent.com/40596171/42952165-82332e1c-8b80-11e8-862d-c29674ca815c.png)
We reproduced those failures manually and it appeared that tests work correct

[2018-07-19 16:15] kuvakina opened #194 "End2End testing. Issue with React job"
@tony-shannon

As we tried to see a pattern in End2End testing for React, we noticed some issues:

1) Until Monday, 16.07.2018, jobs on React were failures. The fails were the same as for Angular before Monday https://github.com/PulseTile/PulseTile-React-Core/issues/193
And also the manual test showed that tests work correctly and the problem with the response from server:
  - Allergies failure:
T

[2018-07-20 12:37] tony-shannon commented on #166
@simongamester @kbeloborodko
Can you comment on how the React version of the UI Kit;
-should be the similar to the Angular UI kit
-should differ to the Angular UI kit http://showcase2.ripple.foundation/ui-kit.html#/charts
how to add this to the React repo etc
thanks
Tony

[2018-07-20 14:46] tony-shannon commented on #192
Agree @kuvakina Lets focus on React tests first

[2018-07-20 14:55] tony-shannon commented on #117
thanks

This sounds good, as discussed today, lets see if we can do quick bandwidth
test and trigger messages accordingly

Tony

On 19 July 2018 at 13:36, kuvakina <notifications@github.com> wrote:

[2018-07-20 14:59] tony-shannon commented on #142
thanks Bogdan
I see you have  forked the PulseTile React -Plus repo now, so you should be
able to submit a PR back?
T

On 19 July 2018 at 15:23, BogdanScherban <notifications@github.com> wrote:

[2018-07-27 16:01] BogdanScherban commented on #79
@tony-shannon

Tony, I'm working on updating E2E testing for checking Showcase-, Dev_ang-, Rev_react- and Helm- versions. What have been done:
1) provided possibility to login with Auth0 or like at dev.ripple.foundation:8000, depends on version;
2) added settings which gives possibility to use different test data in different versions (for example user name and password etc.)

In all test-versions

[2018-08-01 09:56] pacharanero opened #196 "Travis, CodeCov and GitHub release badges images are broken"
![image](https://user-images.githubusercontent.com/2348385/43515002-5c62788e-9579-11e8-83fc-dcfc925f83ac.png)

Looks like links to these images are broken, possibly just a changed URL somewhere

[2018-08-01 15:46] tony-shannon commented on #196
thanks @pacharanero

@BogdanScherban could you take a look at this please?

thanks, T

[2018-08-02 10:08] BogdanScherban commented on #142
@tony-shannon

Kirill approved the last pull-requests for  this issue - for Plus-repository.
https://github.com/PulseTile/PulseTile-React-Plus/tree/master/build

So, all this repos have standart scheme of build creating process. New builds are created and saved as zip-archive in the build folder.

[2018-08-02 10:34] tony-shannon commented on #142
thanks @BogdanScherban

@pacharanero FYI

[2018-08-07 13:41] pacharanero opened #197 "Unclear what the DEV_"

[2018-08-10 08:46] kuvakina opened #198 "End2End Testing documentation (Wiki)"
Create Wiki for End2End Testing documentation and add it here:
https://github.com/PulseTile/PulseTile-Docs/wiki

[2018-08-10 08:49] kuvakina opened #199 "Unit Tests documentation (Wiki)"
Create Wiki for Unit Tests documentation and add it here:
https://github.com/PulseTile/PulseTile-Docs/wiki

[2018-08-13 09:41] BogdanScherban commented on #196
@tony-shannon

We need in login and password for https://github.com/PulseTile/ and https://github.com/LeedsCC/ to set these buttons. Because Travis use login and password the same for Github.

We checked possibility to solve this issue for my repository:
![screenshot from 2018-08-13 12-38-21](https://user-images.githubusercontent.com/39263134/44024513-210b63be-9ef6-11e8-8cc5-cd70eaa2e135.png)

[2018-08-13 15:29] kuvakina commented on #193
@tony-shannon

Right now this problem with Angular E2E testing fails is fixed.

Approximately the problem was with EtherCIS: we think that EtherCIS servers were unavailable from time to time. But right now the jobs run successfully: https://www.screencast.com/t/2y7y9ggbg

Can we consider this issue Done?

[2018-08-13 15:40] kuvakina commented on #194
@tony-shannon

Last week tests for React failed.

The problem was with a single test:
![2018-08-06_1510](https://user-images.githubusercontent.com/40596171/44042122-26da3928-9f28-11e8-861f-47e84e5a543c.png)

We think it was because at some point test was running out of memory.

At the moment tests run successfully and don't fail: https://www.screencast.com/t/RXPzZmmp

But we'll monitor them for no

[2018-08-13 15:59] tony-shannon commented on #194
thanks
How can we monitor the memory?
Tony

On 13 August 2018 at 16:40, kuvakina <notifications@github.com> wrote:

[2018-08-14 09:25] kuvakina commented on #194
We can monitor the memory using htop Command Under SSH Terminal.

Once your server is connected with SSH, you can run Htop command by just typing htop and press Enter.
A screen will open up as a result of this command where you can see where jobs run and what memory they use:
![memo02](https://user-images.githubusercontent.com/40596171/44083448-af1db0f0-9fbc-11e8-96cc-b255e61038d1.png)

As I said

[2018-08-14 12:41] tony-shannon commented on #40
I'm still not clear on % code coverage on this repo, can you clarify please

[2018-08-14 12:42] tony-shannon commented on #40
@kuvakina says it is covered 100% by unit tests so I'm closing for now

[2018-08-14 12:42] #40 closed

[2018-08-14 12:43] tony-shannon commented on #144
ok to  close for now @kuvakina
Please set up a new issue for Helm PHR theme as Plugin as per discussion

[2018-08-14 12:43] #144 closed

[2018-08-14 12:45] tony-shannon commented on #192
ok to close this, thanks

[2018-08-14 12:45] #192 closed

[2018-08-14 12:47] tony-shannon commented on #193
ok to close this thanks

[2018-08-14 12:47] #193 closed

[2018-08-14 12:49] tony-shannon commented on #130
reopen on discussion with @kuvakina
maybe link to issue 194?

[2018-08-14 12:59] tony-shannon commented on #142
leave this one open for the moment please
need some up to date documentation

[2018-08-14 13:00] tony-shannon commented on #129
as all End2End tests are passing now, this can be closed

[2018-08-14 13:00] #129 closed

[2018-08-14 13:07] tony-shannon commented on #125
good work, thanks

[2018-08-14 13:10] tony-shannon commented on #162
Hi @Robtweed
can you please comment on other messages that you could pass to the UI ?
eg agree an error message type that PulseTile handle and you can then decide on the content
eg "EtherCIS down" etc

[2018-08-14 13:14] tony-shannon commented on #63
Please see update on the related issue in QewdRipple
https://github.com/RippleOSI/Ripple-Qewd/issues/62

[2018-08-14 15:06] kuvakina commented on #140
UPD:

IE11: We can log in now, log out but sometimes loading takes too much time (around 7-20 sec). And sometimes you have to reload the page or clear cookies to log in / log out.

We'll look how to fix it.

[2018-08-14 15:10] kuvakina commented on #170
UPD:

IE11: We can log in now, log out and also force logout after session expired, but sometimes loading takes too much time (around 7-20 sec). And sometimes you have to reload the page or clear cookies to log in / log out.

We'll look how to fix it.

[2018-08-14 15:16] kuvakina commented on #153
UPD:

IE11: We are forcefully logout after session expired.
![out_ie11](https://user-images.githubusercontent.com/40596171/44100571-0ba01e0e-9fee-11e8-9d6d-47c4547244bf.png)

But sometimes loading takes too much time (around 7-20 sec). And sometimes you have to reload the page or clear cookies to log out. And also as you can see, the message says that there is an error - I think it could be relate

[2018-08-14 15:32] kuvakina commented on #176
UPD:

IE11: We can log in now, log out and also force logout after session expired, but sometimes loading takes too much time (around 7-20 sec). And sometimes (most of the time) you have to reload the page or clear cookies to log in / log out:

https://drive.google.com/file/d/1yaPEqpJrHMovg9XNJ8gm9kC3_cwudcfs/view?usp=sharing

We are looking at how to fix it.

[2018-08-14 15:52] kuvakina opened #200 "Set up Travis CI"
Set up Travis CI for automatic Unit-testing for the following repos:

PulseTile-Core
PulseTile-Plus
LeadsCC

At the moment we set up Travis for PulseTile-React. To set up Travis for the rest repos we need login and password for PulseTile and LeadsCC

[2018-08-15 07:30] kuvakina opened #201 "Helm PHR Theme as plugin"
- To understand the difference between PulseTile-Core and PulseTile-Helm;
- Make Helm PHR Theme as a plugin;
- Possibility to install Helm PHR theme as Core library.

[2018-08-15 07:48] kuvakina commented on #198
To provide more insight for the external developers and any other stakeholders additional documents will be created. First of all, Unit and E2E Tests designation, structure and implementation are going to be described as these areas are potentially the most complex ones for a newcomer to grasp.

These records will contain (but not limited to) the following sections:

1) The reasoning behind utiliz

[2018-08-15 13:02] tony-shannon commented on #140
thank you @kuvakina

[2018-08-15 13:02] tony-shannon commented on #170
thanks @kuvakina

[2018-08-15 13:04] tony-shannon commented on #117
msg from Alexandra:
"We previously talked that we should add messages when app loads too long with slow 3G.
I wanted to ask, how critical is this?"

this would be good to do soon

[2018-08-15 13:05] tony-shannon commented on #153
thanks again

[2018-08-15 13:06] tony-shannon commented on #139
thank you

[2018-08-15 13:07] tony-shannon commented on #176
thank you, I suggest all these IE11 issues are linked

[2018-08-15 13:08] tony-shannon commented on #166
@simongamester  @kbeloborodko
need a response to this one please

@kuvakina FYI

[2018-08-15 13:14] tony-shannon commented on #142
@pacharanero could also do with your input on this wrt npm ideas please,
if you want to cross reference to other issue to save you duplicating thats ok
thanks

[2018-08-15 13:15] simongamester commented on #166
@tony-shannon Sorry, not sure I can answer this one. Will defer to @kbeloborodko

[2018-08-15 13:35] tony-shannon commented on #166
ok thanks Simon
Tony

On 15 August 2018 at 14:17, simongamester <notifications@github.com> wrote:

[2018-08-15 13:43] tony-shannon commented on #79
thanks @BogdanScherban
Sorry for delay
In reply; wrt Helm End2End tests

1) can you check for any version number, not a particular defined number, if the number comes through ,thats a pass
2) lets leave email in the profile test for now
3) suggest repos should be renamed , and aligned between dev React & Helm at least
4) top 3 things needs to be added to the test

[2018-08-15 13:46] tony-shannon commented on #198
ok thanks for update , look forward to that documentation, thanks

[2018-08-15 13:51] tony-shannon commented on #200
ok I have set up trigger for both
PulseTile-Core
PulseTile-Plus

I dont have immediate access to LeedsCC , i can get it
Instead I want us to focus on Helm PHR theme as plugin, if we switch to that approach, we will hold that PHR theme in our repos for now, to make admin easier

[2018-08-15 13:52] BogdanScherban commented on #201
Hi, Tony! We have an idea regarding this issue.

1) We'll create new plugin, that would be a container for non-core plugins (in this case - for TopThreeThings, Feeds and Vaccinations);
2) This container will include all relations between plugins, that would be necessary for correct work;
3) The idea that we would add this container to core project as a plugin. Adding method will be general for any

[2018-08-15 13:56] tony-shannon commented on #201
ok many thanks @BogdanScherban

thanks Bogdan, I've just seen it and I like the idea, but we need to address the theme issue first, ie the look and feel the html, css, images that make Helm PHR look different
I think these are already in a separate repo. but we need to consider the idea of a theme repo as a plugin, hope that makes sense

So the Helm theme (config file, css, images) could be a sepe

[2018-08-15 13:58] pacharanero commented on #197
bump

@kbeloborodko @BogdanScherban ?

[2018-08-15 14:04] pacharanero commented on #142
Thanks @tony-shannon

I've been discussing other ways to distribute the compressed minified PulseTile code. If we take the view that PulseTile is a fairly straightforward UI framework then we should aim to distribute it in the same way as other UI Frameworks and Front-end frameworks - like Bootstrap and Angular etc.

Many of these are available from a CDN (eg Bootstrap) https://getbootstrap.com/do

[2018-08-15 14:04] tony-shannon commented on #197
thanks for chasing @pacharanero

@kbeloborodko @BogdanScherban
thanks for response on this
T

[2018-08-15 14:08] BogdanScherban commented on #201
@tony-shannon

thanks, Tony! Yes, we'll add CSS, configs and images to this plugin.

[2018-08-15 14:11] tony-shannon opened #202 "Project Management issues to discuss - July/August 2018"
we may not need an issue like this but it may help with project management over intervals
@kuvakina  let me know what you think, may save you from needing Google Docs to keep track?

[2018-08-15 14:12] pacharanero commented on #142
What I guess I am trying to avoid is the necessity for all users of the PulseTile framework to have to download the entire source:

![image](https://user-images.githubusercontent.com/2348385/44152302-151f7fb0-a09d-11e8-8f41-6ec5eeae32cc.png)

Only 6MB of the repo is source code, the rest  is old build files. It takes up **370MB** on disk with the Git history as well. Really not necessary when all

[2018-08-15 14:15] kuvakina commented on #202
@tony-shannon I think it's a great idea, thanks. I'm sure it will be faster and convenient for us.

[2018-08-15 14:16] tony-shannon commented on #202
ok sure @kuvakina , just need to make sure these issues are timeboxed and dont get over long.. a month/two/three at a time may be reasonable, we can see how it works out

[2018-08-15 14:35] kuvakina commented on #176
Yes, I'll link them as for now IE11 won't work correctly.

- [ ] https://github.com/PulseTile/PulseTile-React-Core/issues/140 Sigh out requires to reload page or to clean cookies

- [ ] https://github.com/PulseTile/PulseTile-React-Core/issues/170 To sing in / sigh out requires to reload page or to clean cookies

- [ ] https://github.com/PulseTile/PulseTile-React-Core/issues/153 Expired session sho

[2018-08-15 14:39] tony-shannon commented on #196
thanks @BogdanScherban
The issue isnt with login access, its with the change in URL as @pacharanero suggested
ie the readme file here points to;
///https://travis-ci.org/PulseTile/PulseTile-React
and so needs adjusting accordingly

[2018-08-15 14:39] kuvakina commented on #117
Ok, then we'll see how to add messages after we make Helm PHR theme as a plugin

[2018-08-15 14:43] tony-shannon commented on #142
thanks @pacharanero  on both of those suggestions

@kbeloborodko @BogdanScherban
IMHO We should move to
1) npm for distribution
+
2) Releases for key git commits
without delay, unless you have alternative suggestion please

Please confirm action plan on these points

[2018-08-15 14:44] tony-shannon commented on #142
@pacharanero could you add detail on how the core + plugin process could /should work from your perspective with npm

[2018-08-15 14:53] BogdanScherban commented on #79
thanks, @tony-shannon
It will be done

[2018-08-17 10:25] tony-shannon commented on #201
some more comments on how this should be done;

2 examples;

Helm PHR
config file for the build
Core UI Framework			(PulseTile-React-Core)
+
Core Plugins _ Meds, allergies, Diagnosis (PulseTile-React-Core)
+
Helm Theme Plugin - Plugin - Blue , Pictures, logos (PulseTile-HelmPHR-Theme-Plugin- new repo)

Atlantic PHR
config file
Core UI framework										React-Core
+
Core Plugins Meds Allergies (no

[2018-08-17 10:31] tony-shannon commented on #139
@kuvakina  will update this issue with more feedback

NB This issue can be parked for now, as focus on PHR aspects currently

[2018-08-17 10:41] tony-shannon opened #204 "Q 3 sprint plan"
Aim for go live end of Sept

- [ ] Helm PHR theme plugin
- [ ] Data Model tidy up
- [ ] Brand refresh
- [ ] Accessibility changes

[2018-08-17 10:50] tony-shannon commented on #201
@pacharanero FYI, the SliceArt/PioGroup team are coming back with ideas on how we shift the architecture in this direction, see my comment above, thanks

[2018-08-17 15:05] kuvakina commented on #139
@tony-shannon

UPD:

I've just checked this issue on the site: it's working correctly.

I'll move it to Testing and will monitor it.

[2018-08-17 16:05] kuvakina commented on #198
@tony-shannon

Here is a draft version of the documentation, please has a look, Tony.

If you have any ideas or want anything to be changed, I'll appreciate if you write it here.

[E2E testing.pdf](https://github.com/PulseTile/PulseTile-React-Core/files/2297911/E2E.testing.pdf)

[2018-08-20 08:39] BogdanScherban commented on #201
@tony-shannon
Hi, Tony! There is our idea how to solve this issue.

All information for HelmPHR version will be located in separate directory **theme/** (you can see it on images below)
This directory will include:
- non-core plugins that required for current theme (Vaccinations, Top Three Things and Feeds);
- CSS-styles (for blue theme)
- images (logo, banners etc.)
- config files that unite Core

[2018-08-20 09:53] tony-shannon commented on #201
ok, this idea is ok but not ideal

See this feedback

![image](https://user-images.githubusercontent.com/939996/44333426-a82de680-a466-11e8-86f7-3a8249d25c70.png)

there are 2 aspects to this,
1) source files/plugins and then
2) how these are assembled into built/implemented files for use

For the purposes of 1) source files/plugins
-The theme files should be kept to the minimum to store "look and

[2018-08-20 16:01] pacharanero commented on #142
I think there are a few ways that the core + plugin system could be implemented.

I'd been wondering whether actually the whole of Pulsetile should be presented much more as a React plugin. React is the undisputed king of the UI/fronyt-end frameworks (at the moment at least). People are sceptical about using new JS frameworks if they aren't sure that they're going to last.

Pulsetile may well suff

[2018-08-20 16:15] tony-shannon commented on #198
ok this looks excellent
Yet if anything it looks overdetailed and going to be hard to maintain
In particular those flowcharts will be a real ordeal to maintain
Can you simplify those please with something we can use with github markdown?
thanks
Tony

[2018-08-21 14:42] BogdanScherban commented on #201
@tony-shannon

We looked into the issue with NPM today. And based on our research we came with this idea:

We created new NPM-modules on npm-website:
https://www.npmjs.com/package/pulsetile-react-core;
https://www.npmjs.com/package/top-three-things

They can be installed by the next commands (as modules in node_module/ directory):
 _**npm install pulsetile-react-core;
 npm install top-three-things

[2018-08-21 19:46] tony-shannon commented on #201
chat excerpt...

sure, I assume core codebase needs a container for plugins somewhere
eg
<Code>
 <Core>
 <Core-Plugin container>
  .. this should pick up any plugins that are in this path //
   <Plugin A>

We have one more idea.

We suggested the similar principle here: https://github.com/PulseTile/PulseTile-React-Core/issues/201#issuecomment-413204061

Core has a special directory for non-core pl

[2018-08-23 11:57] kuvakina opened #205 "Help chat plugin"
Task:                     To create a chat facility and add it to Helm-PHR-Theme plugin.

Related issue:       https://github.com/LeedsCC/Helm_PHR/issues/3  -  Add chat facility to Helm for trial

Use as reference:  https://www.click4assistance.co.uk/
[ToolScript.txt](https://github.com/PulseTile/PulseTile-React-Core/files/2314285/ToolScript.txt)

[2018-08-23 16:19] kuvakina opened #206 "Automatic creation of the build"
Make it the way that the build could be created automatically from different repos: -Core + -Silver + Helm-Theme

#201 Helm PHR Theme as plugin

[2018-08-23 17:05] tony-shannon opened #207 "Green (Main) Theme as plugin"
@BogdanScherban has been crafting the Helm theme plugin

So we need to craft a Green Theme (main theme) as a Theme PLugin
![image](https://user-images.githubusercontent.com/939996/44540575-27d5e280-a6ff-11e8-82c3-a82161862feb.png)

T

[2018-08-28 09:17] kuvakina commented on #207
@tony-shannon

Regarding this task I have a few questions:

1.
At the moment this theme set as Default. If we were to make this theme as a separate plugin, what we have to set as Default theme then? Because the project couldn't be without the theme, afaik

2.
At the moment we are working with this plan:

1) Helm PHR theme plugin
2) UI/Data Model tidy up
3) Tour of Application
4) Brand refresh
5) A

[2018-08-28 13:45] BogdanScherban commented on #201
@tony-shannon

This task was done and merged:
https://github.com/PulseTile-Plugins/Plugin-Helm-PHR-Theme

This plugin includes images and styles required for Helm-PHR theme. It is united to Core automatically by generator: https://github.com/RippleOSI/Helm-PHR-Generator

[2018-08-28 13:54] BogdanScherban commented on #206
@tony-shannon

This task consists of following subtasks:

1) Container for non-core plugins was added into the Core-version:
https://github.com/PulseTile/PulseTile-React-Core/tree/develop

2) Plugins Vaccinations and TopThreeThings were updating for using via Container:
https://github.com/PulseTile-Plugins/Silver-Plugin-Vaccinations
https://github.com/PulseTile-Plugins/Silver-Plugin-TopThreeThings

[2018-08-28 15:31] tony-shannon commented on #206
nice work, thank you

[2018-08-28 15:31] #206 closed

[2018-08-28 15:32] tony-shannon commented on #201
good job, thanks @BogdanScherban

[2018-08-28 15:32] #201 closed

[2018-08-28 15:41] tony-shannon commented on #205
not top priority, tackle this in context of Helm reBranding Sprint please

[2018-08-28 15:43] tony-shannon commented on #207
thanks @kuvakina
Good Q
in reply
1) we will need a showcase demonstrator generator , similar to the Helm PHR generator
and in that Showcase this theme would be the default theme plugin

2) this task can be low priority at the moment, please ask those project management questions elsewhere, thanks

[2018-08-29 06:04] kuvakina commented on #201
@tony-shannon Could we move it to Done?

[2018-08-29 06:04] kuvakina commented on #206
@tony-shannon Could we move it to Done?

[2018-08-29 06:06] kuvakina commented on #205
@tony-shannon got it, thank you

[2018-08-29 06:26] tony-shannon commented on #201
Please do
thanks T

On Wed, 29 Aug 2018 at 07:04, kuvakina <notifications@github.com> wrote:

[2018-08-29 06:26] tony-shannon commented on #206
Please do
thanks T

On Wed, 29 Aug 2018 at 07:04, kuvakina <notifications@github.com> wrote:

[2018-08-29 07:46] BogdanScherban commented on #207
@tony-shannon
What non-core plugins should be added to the showcase?

[2018-08-29 08:37] tony-shannon commented on #207
Need to be careful here

The green theme is separate to the showcase generator.

Please clarify the question

On Wed, 29 Aug 2018, 08:46 BogdanScherban, <notifications@github.com> wrote:

[2018-09-05 13:39] BogdanScherban commented on #206
@tony-shannon

I've solved the issue with Feeds-plugin automatically adding by the way:
- Core was updated for this possibility;
- Feeds-plugin was updated and saved as separate repository;
- Add sub-generator for Feeds-plugin to the Generator for Helm-PHR.

PRs for first two issues:
https://github.com/PulseTile/PulseTile-React-Core/pull/211
https://github.com/PulseTile-Plugins/Silver-Feeds-Plugin

[2018-09-06 12:12] tony-shannon commented on #206
re:
"
@tony-shannon

I've solved the issue with Feeds-plugin automatically adding by the way:

Core was updated for this possibility;
Feeds-plugin was updated and saved as separate repository;
Add sub-generator for Feeds-plugin to the Generator for Helm-PHR.
PRs for first two issues:
#211
PulseTile-Plugins/Silver-Feeds-Plugin#1

When they will be approved, I'll check work of Generator and create P

[2018-09-06 12:34] tony-shannon opened #212 "Feeds as Plugin please"
@BogdanScherban  please update this issue

[2018-09-06 13:36] BogdanScherban commented on #212
I've solved the issue with Feeds-plugin automatically adding by the way:

1) Core was updated for this possibility;
2) Feeds-plugin was updated and saved as separate repository;
3) Add sub-generator for Feeds-plugin to the Generator for Helm-PHR.

PRs for all three issues were approved.
New build (automatic generated) were upload to dev.ripple.foundation:8000

[2018-09-07 11:08] tony-shannon commented on #212
thanks Bogdan

[2018-09-07 11:09] tony-shannon commented on #212
see related Feeds plugin here
https://github.com/PulseTile-Plugins/Silver-Feeds-Plugin

[2018-09-07 11:09] #212 closed

[2018-09-18 09:51] tony-shannon opened #223 "- loading state is not cleared - spinner infinite - Initialise Duck JS related issue"
@kbeloborodko  please outline issue as you understand it
We will come back to this

T

[2018-09-18 09:52] tony-shannon commented on #223
discussed and agreed that this does not represent a security issue

[2018-09-18 16:29] kbeloborodko commented on #223
If URL is edited manually to only show the IP address we are getting into loading state that is not cleared upon application initialization completion.

The loading state is being removed with this duck file https://github.com/PulseTile/PulseTile-React-Core/blob/master/src/utils/redirect-helpers.utils.js. However, if for some reason, we don't get the **user** variable in the **redirectAccordingRol

[2018-09-18 16:31] kbeloborodko commented on #223
The following files need to be debugged to find the source of the issue:
1) https://github.com/PulseTile/PulseTile-React-Core/blob/master/src/utils/redirect-helpers.utils.js#L8
2) https://github.com/PulseTile/PulseTile-React-Core/blob/master/src/ducks/initialise-app.duck.js
3) https://github.com/PulseTile/PulseTile-React-Core/blob/master/src/ducks/fetch-initialise.duck.js
CC: @tony-shannon

[2018-09-20 13:52] kuvakina commented on #139
@tony-shannon

It's still working correctly. Could we move this issue to Done?

[2018-09-20 13:52] kuvakina commented on #149
@tony-shannon

All issues are solved from this issue. Could we consider this Done?

[2018-09-20 13:53] kuvakina commented on #79
@tony-shannon

As all new changes were implemented, could we consider this issue Done?

[2018-09-20 13:53] kuvakina commented on #130
@tony-shannon

Right now E2E tests are working correctly. Could we move this issue to Done?

[2018-09-20 13:53] kuvakina commented on #194
@tony-shannon

Right now React tests are working correctly. Could we move this issue to Done?

[2018-09-20 13:53] kuvakina commented on #212
@tony-shannon

Could we move this issue to Done?

[2018-09-20 13:53] kuvakina commented on #176
@tony-shannon

PHR loads (but it's takes time) in IE11, but there is another issue now. Loaded PHR looks like this: https://www.screencast.com/t/fKtpSYDpGPe

The error is:
SCRIPT438: Object does not support property or method "startsWith"
main.js (1,1153597)

Should we ask Oleg to look into this issue later?

[2018-09-20 13:53] kuvakina commented on #153
@tony-shannon

We have the error in IE11 (issue #176). But expired session forces the application to log out at UI in all browsers. Could we move this issue to Done?

[2018-09-20 13:53] kuvakina commented on #170
@tony-shannon

Despite the error that described in #176 , we can login and forcefully logout from the app. So can we consider this task Done?

[2018-09-20 13:53] kuvakina commented on #140
@tony-shannon

Considering the error #176 , should we leave this issue open for now?

[2018-09-27 10:04] PhilBarrett commented on #139
Working fine.

[2018-09-27 10:04] #139 closed

[2018-09-27 10:08] PhilBarrett commented on #170
With #176 remaining open with different issues, this can be considered complete

[2018-09-27 10:08] #170 closed

[2018-09-27 10:13] PhilBarrett commented on #205
Duplicate of https://github.com/LeedsCC/Helm_PHR/issues/3

[2018-09-27 10:13] #205 closed

[2018-09-27 10:17] PhilBarrett commented on #117
Going back into testing. Then we need to agree the rules on when the messages appear.

[2018-09-27 10:19] #153 closed

[2018-09-27 10:31] kuvakina commented on #114
In current Angular and React versions I don't see URLs, so could we consider this task Done:

https://www.screencast.com/t/42EHOz7mQ

https://www.screencast.com/t/eDFLjNKZ

[2018-09-27 10:31] #114 closed

[2018-09-27 10:51] PhilBarrett commented on #110
@tony-shannon Is this something we can close now?

[2018-09-27 10:53] #185 closed

[2018-09-27 11:13] PhilBarrett commented on #200
Can this be closed now

[2018-09-27 11:20] PhilBarrett commented on #163
This has been resolved in more recent sprints

[2018-09-27 11:20] #163 closed

[2018-09-27 11:21] #118 closed

[2018-09-27 17:06] #184 closed

[2018-09-27 17:16] #131 closed

[2018-09-27 17:16] #123 closed

[2018-09-27 17:17] #45 closed

[2018-09-27 17:17] #154 closed

[2018-09-27 17:17] #143 closed

[2018-09-27 17:17] #138 closed

[2018-09-27 17:17] #171 closed

[2018-09-27 17:18] #182 closed

[2018-09-28 13:19] tony-shannon commented on #81
I think this issue can be closed as we have changed course and moved towards core repo + plugins (inc themes) + generators

[2018-09-28 13:19] #81 closed

[2018-09-28 14:44] tony-shannon commented on #110
please leave open for now

[2018-09-28 14:50] tony-shannon commented on #63
lets close this for now, as not a problem for some time

[2018-09-28 14:50] #63 closed

[2018-09-28 14:51] tony-shannon commented on #75
will need retesting to see if current issue

[2018-09-28 15:19] tony-shannon commented on #162
this needs to remain open

[2018-09-28 15:20] tony-shannon commented on #122
lets close for now, thanks

[2018-09-28 15:20] #122 closed

[2018-09-28 15:20] tony-shannon commented on #132
this needs to remain open for now

[2018-09-28 15:22] tony-shannon commented on #200
not yet, we need to revisit Travis CI setup @philbarrett

[2018-10-02 13:39] PhilBarrett opened #232 "Menu button not functioning in mobile view"
See above

[2018-10-02 16:55] PhilBarrett opened #233 "Showcase generator"
Moving the showcase generator onto new dev box

IP/login details to follow

[2018-10-03 10:53] polesskiy-dev commented on #140
I see myself in Assignees list, how I can help you with this problem? Cause I think I loose context of the project long time ago.

[2018-10-03 13:31] simongamester commented on #162
Need to consider a standardised method of returning error messages from the api. In the event that an error occurs i.e. not a 200 response, an error object could be returned containing an error code, a simple description of the error and possibly a technical description. Example from twitter api here - https://developer.twitter.com/en/docs/ads/general/guides/response-codes

May also need to consid

[2018-10-03 13:31] BogdanScherban commented on #232
This issue occurred because Core code had a condition which hide Sidebar menu in mobile mode (when screen width less than 768 px).

It was enough to remove this condition

Menu is opened:
![mobile-1.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bb3796441a5980011efd33d/125516c66e82c728ace21e0d46e59b982a8e86e4deabf301b44fff9e2c4533317346f6297186e67bea442c030c0e4bf84158564

[2018-10-03 13:32] PhilBarrett commented on #232
@BogdanScherban has this been applied and tested in the Helm theme too please?

[2018-10-03 13:40] BogdanScherban commented on #165
Fixed. The issue was in the same names of heading in synopsis and total list in Store.

I added a condition which output only four first rows.

[2018-10-03 13:49] PhilBarrett opened #234 "Multi-lingual support"
There was a wider discussion on whether a common approach to language should be considered and how multi-lingual functionality might be added to PulseTile moving forward. In such a case, language files would define the text for each button, form element and help text. Something to consider in the future

[2018-10-03 13:49] BogdanScherban commented on #162
I need to talk with Rob - how to reproduce any server error (code > 499) at my local-machine.

[2018-10-03 14:27] BogdanScherban commented on #232
yes, we've tested it in Helm

[2018-10-03 15:15] PhilBarrett commented on #159
@kuvakina can you check to see if this is still occurring and comment here please. If you can't reproduce, we'll consider this closed

[2018-10-03 16:31] PhilBarrett commented on #189
@kuvakina Is this still an issue?

[2018-10-03 16:43] tony-shannon opened #235 "align Helm & Showcase themes & tidy up branches"
From Bogdan>
"We have one idea. Now we have two generators: Helm and Showcase. There one important difference.

Showcase uses Core without any styles, and we should install Showcase theme.
Helm uses Core with default theme (Showcase), and we install Helm-theme above it.

So, Helm and Showcase use different branches in Core. And Helm-theme needs in Showcase as a base."

[2018-10-03 16:45] tony-shannon commented on #235
2 issues here
@simongamester
2 themes Showcase & Helm , need to ensure they have been done consistently
2+ branches in ReactCore repo, need tidying please

[2018-10-03 17:33] tony-shannon commented on #235
steps?
1) merge branches?
2) merge generators?
3) move off of generators?
Simon to consider...

[2018-10-04 08:10] simongamester commented on #235
In response to @BogdanScherban's comment above, once we've merged the develop-without-styles of core into the develop branch, both the showcase and helm themes should be using the same version of core and the same core generator.

As it stands, we now have two generator repos which both contain sub generators for:

core
feeds
top-three-things
vaccinations

https://github.com/PulseTile/PulseTile-Re

[2018-10-04 09:29] kuvakina opened #236 "Error with loading PHR in IE11"
PHR loads (but it's takes time) in IE11, but there is another issue now. Loaded PHR looks like this: https://www.screencast.com/t/fKtpSYDpGPe

The error is:
SCRIPT438: Object does not support property or method "startsWith"
main.js (1,1153597)

Asked Oleg to look into it.

[2018-10-04 09:29] kuvakina commented on #176
Created a new issue for this bug. Could we move this issue to Done?

[2018-10-04 11:43] kuvakina commented on #140
Created the issue for this bug - #236

And asked Oleg to look into it.

[2018-10-04 12:32] BogdanScherban commented on #235
@Simon, it will be more easy to have one common generator.

Right now Showcase- and Helm-generator use difference versions of Core- sub-generator.
Because Showcase- uses Core without styles and Helm- uses Core with default styles.

But we prepared all changes, which are necessary to use Core without styles in HelmPHR-generator

[2018-10-04 12:41] BogdanScherban commented on #235
Right now we have two branches in Core:
1) develop - it is Core with styles;
2) develop-without-styles2 - it is Core without styles;

It is necessaty to merge develop with develop-without-styles2.
All our Generators (HelmPHR- and Showcase-) will use Core without styles.

[2018-10-04 13:04] BogdanScherban commented on #235
Right now Plugin-Helm-PHR-Theme has two branches:
- master - with old HelmPHR-theme
- develop-merge - with HelmPHR-theme after rebranding

HelmPHR-generator works with develop-merge.

[2018-10-04 13:54] tony-shannon commented on #232
that PR should fix #232

[2018-10-04 13:55] tony-shannon commented on #165
that PR fixes  #165

[2018-10-04 14:28] simongamester commented on #235
@tony-shannon should we move all sub generators in the helm generator over to the showcase as Bogdan suggests? Did you want to keep helm-specific stuff in its own generator?

[2018-10-04 15:07] tony-shannon commented on #235
lets merge the branches first and come back to that after

[2018-10-04 16:45] kuvakina commented on #189
@PhilBarrett no, I'd checked the remote machine and everything is ok: file:///C:/Users/User/Documents/PROJECTS/PulseTile/2018-10-04_1841.png

We can move it to Dome @tony-shannon ?

[2018-10-04 17:59] kuvakina commented on #194
Since last week (last week of September), for some reason React test started to fail.

The problem occurred with those tests: patientAccordionTest & atientInformationTest

[2018-10-04 18:22] kuvakina commented on #236
UPD:
The problem with  "startsWith" method is that this method isn't supported in IE11:
https://www.screencast.com/t/HYKx7bJk

Also, Oleg said that right now IE11 crushes whole app, the reason could be in this method.
Will look into the way if/how we could solve this.

[2018-10-05 09:40] kuvakina commented on #159
@PhilBarrett We still have this issue, but at the moment it occurring only in Chrome: https://www.screencast.com/t/1lO74RV9JXq1

Other browsers are fine.

[2018-10-05 09:46] tony-shannon commented on #159
thanks @kuvakina  then this needs further investigation to get to the root cause please

[2018-10-05 10:06] robtweed commented on #159
This should be fixed on the main UK Cloud system, but it wouldn't surprise
me if you see these errors on dev.

It's due to the login page having been sitting around for too long, and the
OpenId Connect session and the associated QEWD JWT  have expired in the
background.

To avoid it on dev, do a manual page refresh before logging in if you've
left the OpenId Connect login screen sitting there for

[2018-10-05 11:34] kuvakina opened #239 "Feeds plugin updates"
Right now, when we add the Feeds plugin to the project, it changes Core.

It necessary to provide possibility install the Feeds plugin without changes in Core.

[2018-10-05 13:29] #232 closed

[2018-10-05 13:30] tony-shannon commented on #176
Hi @kuvakina, what new issue? please reference here

[2018-10-05 14:27] kuvakina commented on #176
@tony-shannon for the bug I created issue #236

[2018-10-05 14:29] kuvakina commented on #159
@tony-shannon yes @robtweed  right, I see this issue on dev

[2018-10-08 13:11] PhilBarrett commented on #176
Closed, 236 open in place

[2018-10-08 13:11] #176 closed

[2018-10-08 13:29] PhilBarrett commented on #162
Revisit notifications work and Toaster messages (bootstrap)
![IMG_08102018_142542_0.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46c1b9bd1cd2dbf8dfbbef12fc62a1c07b1373211654e1673295f127b54778154d555ca913090c11fffcdf2cf4e56d75de5c0be4d2385677936b14bea4905dee5fee7fd616cfe3fe9846d2e93b2fe68e8c463e1e001b8ef95936a88b06.png)

[2018-10-09 10:17] kuvakina commented on #117
Alyona had searched regarding this issue and found the next solutions:

[2018-10-09 10:18] BogdanScherban commented on #162
We have two questions about this issue:

1) We can't have more than one request about error. Let's look on info about error requests in our Storage:
![requestError.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bb3796441a5980011efd33d/125516c66e82c728ace21e0d46fa918b368790bdaafbad4cb61fbcd6395428792c07b7692ac7b62abe417e525a0949fe12095a10fcf98028f3bf3f25dc5919f1c32f0e2a92

[2018-10-09 12:00] tony-shannon commented on #162
have asked @BogdanScherban and Alena to look at this library
http://igorprado.com/react-notification-system/

[2018-10-09 12:28] tony-shannon commented on #162
Lets lay out some of the key requirements here
A means to notify users - for information, errors etc
A means for users to take action -eg via button

Some messages will be for information only, not for action
Some messages will be for information and action

[2018-10-09 12:42] BogdanScherban commented on #162
@tony-shannon

I've read attentively description of this library. It can be used for both scenarios (A & B).

But I see one problem for B.
It doesn't give possibility to prevent any user's action until user click on toaster block button.

[2018-10-09 12:46] tony-shannon commented on #162
So you are saying it cant replace modals? Can you give scenario from our current use of modals please?

[2018-10-09 12:59] PhilBarrett commented on #162
http://igorprado.com/react-notification-system/ just checked it out and it looks really neat. As we're not really using modals anymore this could be more appropriate, plus auto dismiss functions etc, it has a lot of possibilities.

e.g.
When new features are released (could it launch a new tab when you click on the Action Button
Positive response to an action taken by the user, saved/submitted/upd

[2018-10-09 12:59] BogdanScherban commented on #162
@tony-shannon

_"Can you give scenario from our current use of modals please?"_
Right now Core uses following scenario:
1) App is loading...
2) We check is request error presented;
3) Is error is presented we check its code;
4) Depends on error code we output **modal window** with some message and interactive buttons.

_"So you are saying it cant replace modals?"_
Yes, because we have three types

[2018-10-09 13:19] tony-shannon commented on #162
@BogdanScherban
See the custom button functionality within the library
So this can trigger page reload or redirect
![image](https://user-images.githubusercontent.com/939996/46671994-394f4d00-cbce-11e8-91ac-28d2e995e796.png)

Please explore this and report back
https://github.com/igorprado/react-notification-system#action

[2018-10-09 13:43] kuvakina commented on #117
UPD:

Alyona made it that by using Toastr functionality, we have a message about slow connection, if site take a time to load, and it disappear when the site loaded:

[2018-10-09 14:31] PhilBarrett commented on #236
Linked with https://github.com/PulseTile/PulseTile-React-Core/pull/241

[2018-10-09 16:03] PhilBarrett commented on #117
@kuvakina thanks for the update. I think the bigger issue with this is that there appears to be nothing happening from clicking to log in to the application, for 2minutes plus, then QEWD is triggered and data retrieved. That doesn't look right, can you have a look into this please?

[2018-10-10 08:21] kuvakina commented on #117
Tested the app again.

Now the site loads 13-22 seconds: https://www.screencast.com/t/ngO7gkoJV

Also get the error with token (at the beginning of the video) #159

@tony-shannon @PhilBarrett

[2018-10-10 09:30] PhilBarrett opened #244 "Review develop branch, develop with style branches"
Determine if we can merge or not.

@simongamester

[2018-10-10 09:35] PhilBarrett commented on #159
Hi @robtweed , this still appears to be an issue in UK Cloud, see https://www.screencast.com/t/ngO7gkoJV . Could you take a look please?

[2018-10-10 10:03] BogdanScherban commented on #162
@tony-shannon

Tony, we discussed this issue with @kbeloborodko and have the following suggestions:

1) We can use toastr-library for error messages, that don't require user interactivity. There are three types of messages (type A):
- error 400;
- error 404 (API is unavailable);
- default message for undefined errors (like 'Something is wrong').
In these cases it isn't necessary to block the brows

[2018-10-10 10:45] kuvakina opened #245 "Updates of RecordsOfTable"
This component is located in PROMs plugin:
https://github.com/PulseTile-Plugins/Plugin-PROMS/tree/master/RecordsOfTable

During installation, it is moved in the Core to src/components/form-fields/

RecordsOfTable is used in two plugins: PROMs and TransfersOfCare.
But it uses information from the plugins Diagnosis, Medications, Events, Referrals, Vitals, Procedures.

We should do the following:
1)

[2018-10-10 10:59] robtweed commented on #159
I don't have Flash on my machine (and won't be installing it), so I can't view that screencast.

Under what circumstances are you seeing this error?  Can you provide me with a set of steps I can take to reproduce it?

Rob

[2018-10-10 10:59] pacharanero opened #246 "Pulsetile requires a Dockerfile"
Having a Dockerfile in the root of the project enables several useful things:

1) Running Pulsetile in a Docker container locally for development. The use of a container isolates it from any other conflicting dependencies on the host machine.

2) Automated builds of a Pulsetile Docker container on Docker Hub. We don't have a current need for this, but it may be useful in deployments in the future.

[2018-10-10 11:00] pacharanero commented on #246
I am happy to be assigned this

[2018-10-10 11:29] PhilBarrett commented on #159
Hi @robtweed , I don't have time to detail the steps, the picture shows all these clearly.

Appreciate you're busy right now, so we'll leave it in the to do column for now.

[2018-10-10 11:38] pacharanero opened #248 "There should be a mechanism to route calls to the QEWD server to any IP/URL for development"
### Current situation
* Currently Pulsetile (in both development and live use) expects QEWD to be running on `localhost`.

* In Live we serve the Pulsetile application from the web root of a QEWD server (the 'QEWD-Conductor-PHR' microservice has a web root [here](https://github.com/RippleOSI/Ripple-QEWD-Microservices/tree/master/conductor-service-phr/www) which currently contains a copy of Pulseti

[2018-10-10 13:50] kuvakina commented on #236
@tony-shannon @PhilBarrett

Oleg fixed the issue with the method "startsWith" but now there is another error, that doesn't allow to load the site.
Oleg looking into it.

[2018-10-11 07:44] Alena1508 commented on #117
I found two ways how to show message about bad connections. We can use Toastr library (https://codeseven.github.io/toastr/). The message "Wait...Your connection is slow" will be shown before the DOM is load.
https://drive.google.com/open?id=1vykW31WaBfRyoNv_8NDpxC4oDOIt76mZ

But I checked that it is enough only to add CSS-styles which are required for this message. And don't add to our project all

[2018-10-11 11:42] simongamester commented on #117
Tony, Phil and I had another idea which might be even more light-weight: Displaying a loader in CSS, rendered before the main.js and styles.css load in.

In order to do this, we'd need to run some custom js and css which would invoke page render before the DOM has finished loading.

https://github.com/filamentgroup/loadCSS

The example above could be implemented into the index.html and would allow

[2018-10-11 12:02] BogdanScherban commented on #117
@simongamester

Simon, I'm not sure, that this variant will work more quickly than variant #2 from Alena.

Why? Because in this case we should firstly load all functionality of this library.

In variant #2 we should load only required CSS-rules. For this reason it will work quickly. It is very important because connection will be bad and the message should be occurred ASAP.

[2018-10-11 12:03] simongamester commented on #162
Just wanted to provide some feedback on this thread.

1. I'm not sure the Toasty-library (https://codeseven.github.io/toastr/) is the right choice. It appears to require jQuery, so not keen to add this as well. Suggest we use http://igorprado.com/react-notification-system/ instead.

2. I think we should continue to use existing modals for errors which force interaction from the user, such as a log

[2018-10-12 11:13] Alena1508 commented on #117
I  solved this problem without using any libraries. This is pull requests: 1) https://github.com/PulseTile/PulseTile-React-Core/pull/251;   2) https://github.com/PulseTile-Plugins/Plugin-Helm-PHR-Theme/pull/13

[2018-10-12 11:45] tony-shannon commented on #162
I'm going to close this issue for the moment, as on discussion with @robtweed we are probably passing as much error info as we need to from qewd to pulsetile,
Can be reopened if needs be in future

[2018-10-12 11:45] #162 closed

[2018-10-12 11:54] kuvakina opened #254 "Dependency update"
Dependency defined in package.json file requred updates:

bootstrap  3.3.7 ~>  4.1.2
lodash   4.17.5 ~>  4.17.5
moment  2.18.1 ~>  2.19.3

[2018-10-12 13:12] Alena1508 commented on #254
Done

[2018-10-12 14:02] kuvakina commented on #244
We asked @simongamester .

[2018-10-12 14:07] kuvakina commented on #159
@robtweed I'll try to determinate when this error appears.

We have a supposition that we can solve it by erasing old token when the user login. But I think it's a frontend part.

[2018-10-16 09:23] kuvakina opened #258 "Appearance of 2 T&C for both desktop & mobile"
Right now, if I clear cookies and log in again to the site I see T&C twice:

1) on login page after I clicked the Login button

2) when I already logged in

See the video: I've tested login.myhelm.org and see this issue: https://www.screencast.com/t/b0J10Ss5

[2018-10-16 09:28] PhilBarrett commented on #258
Plus padding and text wrapping isn't working as intended for the correct T&C page (1st time you see it)

![Screen Shot 2018-10-16 at 09.42.25.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46db978826878de9bce1b057e40fa0c5710b76236455f56b7191a378e60c2f53415d4bbe5d4a1f06a3a3dc78e2a436628f0e5abe846e5a22c16f42fdbdd61fbf08b97582

[2018-10-16 10:11] PhilBarrett commented on #159
Now not able to recreate, closing issue for now

[2018-10-16 10:11] #159 closed

[2018-10-16 10:12] PhilBarrett commented on #162
Discussed with Rob. Enough information is being passed, can be closed for now

[2018-10-16 10:17] PhilBarrett commented on #244
Develop merge has been deleted and Develop with styles has been merged with Develop

[2018-10-16 10:17] #244 closed

[2018-10-16 10:29] PhilBarrett commented on #258
PB to test with new user and when the new build has been uploaded.

[2018-10-16 12:51] kuvakina commented on #236
Oleg fixed the problem with errors.

But today the site in IE11 again doesn't load info: https://www.screencast.com/t/VLPqBvVlyGhq

Also tested login.myhelm.org , and there are bug with T&C and styles don't load: https://www.screencast.com/t/6YVEPPq63

Could we, for now, use stab page for IE11, that would redirect users to download up-to-date browsers?

@tony-shannon @PhilBarrett

[2018-10-16 16:14] kuvakina commented on #236
We tried to make a video how messages about slow connection look like, but now the site loads fast enough, even in 2g.
We have a suggestion, that it because we don't use images and because we separate theme.

See the video, that record mobile version in 2g (current Helm version):
https://www.screencast.com/t/ES3ZDP4tPkE1

[2018-10-16 16:34] kuvakina commented on #117
We tried to make a video how messages about slow connection look like, but now the site loads fast enough, even in 2g.
We have a suggestion, that it because we don't use images and because we separate theme.

See the video, that record mobile version in 2g (current Helm version):
https://www.screencast.com/t/ES3ZDP4tPkE1

[2018-10-16 17:01] PhilBarrett commented on #117
Thanks @kuvakina , we'll close this issue off now.

[2018-10-16 17:01] #117 closed

[2018-10-17 07:42] BogdanScherban commented on #239
It was done. New version of Feeds plugin changes nothing in Core.

[2018-10-17 07:43] BogdanScherban commented on #235
This issue has been done.
Both current versions of Helm-generator and Showcase-generator use "develop" branch for Core

[2018-10-17 10:23] kuvakina opened #260 "Fix styles for Profile and ? buttons"
When hover or click on Profile or ? buttons, the images disappear.

See the video: https://www.screencast.com/t/ZJmTn9q1p

Assume there is a problem with styles.

[2018-10-17 13:48] Alena1508 opened #263 "Showcase. Mobile experience. Search button"
When user click on search button he'll see notification window on mobile device. Although on mobile we already has search field and search icon.
http://prntscr.com/l74pct

[2018-10-17 13:56] kuvakina commented on #260
Fixed and merged.

@tony-shannon @PhilBarrett Can we close and move to Done?

[2018-10-17 13:58] Alena1508 opened #264 "Showcase. Mobile experience. Patient info goes missing"
When can see arrow button instead patient information on mobile device, but when we click on this arrow nothing happens.
http://prntscr.com/l74uhv

[2018-10-18 15:01] tony-shannon commented on #264
this also applies to the Helm view in mobile so is a priority
Patient Banner goes missing

![HelmMobileIssue.PNG](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bae28b4d734ec0013e1f936/125516c66e82c728ace21e0d46c091962eaf8cab86e5ba6ab74ee5916b0a65633b0ba92e7391a172fd1779000c0a4da9175f0d17adfcdd2ba6bf3f25835f5ebbd47f4366846c4ff8e7df46f554f832815d84b1b68b49c3e13522e3838c4639190

[2018-10-19 16:35] kuvakina opened #267 "Mobile experience - broken dropdown of patient's info"
The issue with a dropdown of patient's information on mobile devices. When tested on iPhone 5, we found one bug - http://prntscr.com/l7vvi4 - the header is broken.

[2018-10-22 10:37] Alena1508 commented on #264
Hi @tony-shannon ,
I changed Helm for mobile according to mockups. Now we can see User name as in design (https://projects.invisionapp.com/d/main#/console/11007545/316291014/inspect).
It looks this way:  http://prntscr.com/l8xn5m

An here I have a question. In green theme we have an arrow button by clicking on which we see the rest of patient info (http://prntscr.com/l8xuz4). But now this info is

[2018-10-22 10:45] Alena1508 commented on #264
Hi @tony-shannon ,
I changed Helm for mobile according to mockups. Now we can see the username as in design (https://projects.invisionapp.com/d/main#/console/11007545/316291014/inspect).
It looks this way: http://prntscr.com/l8xn5m

An here I have a question. Arrow button on green background (http://prntscr.com/l8xzfu). But now you’re absent for design:
I would like to see what you are looking for

[2018-10-22 11:19] kuvakina commented on #263
Related to issue [https://github.com/RippleOSI/Showcase-Project/issues/6](url)

[2018-10-22 11:22] kuvakina commented on #264
Related to issue #53 https://waffle.io/RippleOSI/combined-development-view/cards/5bc8a1e67b2479003c7c3686

[2018-10-22 12:57] kuvakina commented on #258
We still have 2 T&C : https://www.screencast.com/t/J4iUMmZzcoXB

[2018-10-22 13:07] kuvakina opened #268 "myHelm. Can open Diagnosis details without Diagnoses"
We can open diagnose details when we have no diagnoses at all: https://www.screencast.com/t/qQv1l2nM1

[2018-10-22 13:11] kuvakina commented on #268
Related issue #7 https://waffle.io/RippleOSI/combined-development-view/cards/5bcdcc5f97136d0061eace23

[2018-10-22 15:28] PhilBarrett commented on #235
@simongamester - can you take a brief look at this please and confirm if ok to close. Thanks.

[2018-10-22 15:30] #260 closed

[2018-10-22 15:30] #245 closed

[2018-10-22 15:35] PhilBarrett commented on #246
@pacharenero we have this under review at the moment, do you have an update please?

[2018-10-22 15:39] PhilBarrett commented on #236
@BogdanScherban @polesskiy-dev can you please update based on your discussion on Friday. thanks

[2018-10-22 15:40] PhilBarrett commented on #233
@tony-shannon has tested out and working well. Keeping open until docker work done

[2018-10-22 15:42] PhilBarrett commented on #254
@kuvakina and @Alena1508 this a  isn't good enough description of the  issue and the resolution, there is no way anyone could understand this, looking back on the issue. Please can you update.

[2018-10-22 15:42] #165 closed

[2018-10-22 15:46] PhilBarrett commented on #140
with #236 remaining open, @kuvakina I think this issue can be closed

[2018-10-22 15:52] #268 closed

[2018-10-22 15:55] PhilBarrett commented on #263
Duplication of  https://github.com/RippleOSI/Showcase-Project/issues/6

[2018-10-22 15:55] #263 closed

[2018-10-23 09:50] Alena1508 commented on #254
I updated dependency in package.json file:
bootstrap ~> 4.1.2
lodash ~> 4.17.5
moment ~> 2.19.3

[2018-10-23 09:57] BogdanScherban commented on #258
@tony-shannon
Suggest to remove T&C sub-generator from Helm Generator.
If we remove it T&C wouldn't occur when user already logged in.

[2018-10-23 10:07] tony-shannon commented on #258
Agreed Bogdan, lets do that, please make sure you comment in the PR who you would reapply the T&C sub generator if we ever wanted to reverse that and use it again

[2018-10-23 10:21] BogdanScherban commented on #258
Sub-generator for T&C was removed from Helm-generator.

README-file was updated.

Similar generator is used in Showcase-generator. If we want to return T&C to the Showcase, it is enough only to copy Sub-generator for T&C from Showcase-generator.

[2018-10-23 10:43] BogdanScherban commented on #258
The issue has been done

[2018-10-23 13:44] simongamester commented on #264
I've looked through @Alena1508 latest pull request https://github.com/PulseTile/PulseTile-React-Core/pull/269 and can see the drop down and patient name are coming through, however the Helm Theme is displaying the patient text and drop down icon in white text on a white background, so they are not viewable. The screen below shows the white text in place after being selected by dragging over it.
![

[2018-10-23 14:01] simongamester commented on #264
@Alena1508 @tony-shannon I've submitted a small PR to fix the text within the Helm theme for this issue:

https://github.com/PulseTile-Plugins/Plugin-Helm-PHR-Theme/pull/21

![Screenshot 2018-10-23 at 15.00.17.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5bb37967f01e4d00110fba95/125516c66e82c728ace21e0d46db978826878dba87e6ab03f60da1cc6417773e7b57e32a64c5b27df1122b4f5e58

[2018-10-23 16:31] pacharanero commented on #246
#270

[2018-10-24 10:03] pacharanero commented on #248
In the absence of comments from any of the rest of the PT team, I'm closing this issue since it does seem that the proxy definition in webpack.conf.dev.js does work for defining the connection to QEWD

[2018-10-24 10:03] #248 closed

[2018-10-24 12:19] kuvakina opened #271 "Clear space for Jenkins"
We can't run tests on Jenkins, because we don't have space there.

[2018-10-24 14:49] PhilBarrett commented on #267
Fixed by https://github.com/PulseTile-Plugins/Plugin-Theme-ShowcaseStack/pull/2

[2018-10-24 14:49] #267 closed

[2018-10-26 11:38] kuvakina commented on #236
@PhilBarrett Oleg should change the structure of his PR, so we won't have conflicts

[2018-10-26 13:09] BogdanScherban commented on #254
This PR is necessary for this issue:
#254

The reasons on dependency conflict are:

Master branch haven't been updated with latest changes from June. It include versions before non-core plugins extraction. This version is very old for now.
Dependencies in Master branch are old too. For example, lodash in Master is 4.17.4 (old and unsafety) and in Develop 4.17.5.
For this reason @kbeloborodko sugge

[2018-10-29 09:25] robtweed opened #277 "New /api/initialise handling procedures for PulseTile"
Changes are needed to PulseTile to cater for the new Discovery Data Loading step.

The Helm back-end now includes an initial first step at login, whereby it checks for any new data for the user in the Discovery database, and merges it into the EtherCIS system.

The very first time a newly-onboarded user logs into PulseTile, there will potentially be a sizeable quantity of data needing to be loaded

[2018-10-29 14:57] #149 closed

[2018-10-29 14:58] PhilBarrett commented on #130
Closing with #194 remaining open to cover this off

[2018-10-29 14:58] #130 closed

[2018-10-29 14:59] PhilBarrett commented on #79
Closing, #194 remaining open in place

[2018-10-29 14:59] #79 closed

[2018-10-29 15:41] simongamester opened #278 "Invoke detailed loading screens on First Login"
When users log into Helm for the first time, there may be a delay between 10 and 120 seconds whilst records are retrieved. We have updated the spinner to include a progress bar and top tips during this waiting period, however these changes will remain hidden by default.

3 new classes can be added to the body class along to set the behaviour:

- "progress-short" OR "progress-long" is used to deter

[2018-10-29 15:57] PhilBarrett commented on #194
No further issues since this was resolved, closing issue

[2018-10-29 15:57] #194 closed

[2018-10-29 16:03] BogdanScherban commented on #278
@simongamester

Simon, we looked at code examples in Jsfiddle, and we can suggest the following:

1) It isn't difficult to add class to <body>, but we can't define connection speed and required connection time. For this reason we can't understand what type of progress bar (short or long) should we use. Or we have to always use "progress-long"?

2) When this information should be displayed?
If it s

[2018-10-29 16:21] simongamester commented on #278
1. My understanding is that connection speed won't make the difference between 5 seconds and 120 seconds, it's the amount of medical records that etherCIS needs to aquire before the user can access the system. That's why we're only applying this loader to first login and not in all cases. I suggest we default to the long progress bar initially, however if we can determine the approximate amount of

[2018-10-29 16:39] simongamester commented on #278
A quick update to the above:

1. The with-tips and progress-short classes should be applied to the loader in all instances when logging in, not just when they're logging in for the first time. The api/initialise contains a new_patient property (documented here - https://github.com/PulseTile/PulseTile-React-Core/issues/277). When this is set to true, use the patient-long class, when false use patie

[2018-10-30 09:32] BogdanScherban commented on #277
@simongamester @robtweed

Simon, I checked working of api/initialize, and I have two different results in two domains:
![2018-10-29_1856](https://user-images.githubusercontent.com/39263134/47708475-d3873b80-dc36-11e8-8cf9-37309b368a13.png)

We can see, that on dev.ripple.foundation:8000 it returns old response variant.

So, it isn't difficult for us to add required classes, components etc. depends

[2018-10-31 10:05] #264 closed

[2018-10-31 10:10] PhilBarrett commented on #258
Reviewed and working fine now, thanks

[2018-10-31 10:11] #258 closed

[2018-10-31 10:14] PhilBarrett commented on #235
Reviewed, now two branches on react core, Master and Develop

[2018-10-31 10:14] #235 closed

[2018-10-31 10:18] PhilBarrett commented on #236
@polesskiy-dev @kuvakina can we get an update on this please

[2018-10-31 10:19] #233 closed

[2018-10-31 10:21] #254 closed

[2018-10-31 12:55] PhilBarrett opened #280 "Multiple demographics API calls"

[2018-10-31 12:55] PhilBarrett commented on #280
Linked to https://github.com/LeedsCC/Helm-PHR-Project/issues/65

[2018-10-31 12:55] PhilBarrett commented on #280
![image (1).png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5a6886ed18902a00110228a6/125516c66e82c728ace21e0d46e1999b2487c3e1dea0fd0fe64de29b234324676b5ee17e7284e02dec177d560d0c1fa915585f4dffac8028f3e03962964e49bc8f3900299f7744eeaa880dbe06b0218e4b85bfb58a49c4ed3b27e099c2.png)

[2018-11-01 13:04] BogdanScherban commented on #280
This issue is similar to https://github.com/LeedsCC/Helm-PHR-Project/issues/65

This issue has been done.

[2018-11-01 13:55] PhilBarrett commented on #280
@BogdanScherban Has this change been made to React Core?

[2018-11-01 13:57] BogdanScherban commented on #277
@PhilBarrett @tony-shannon

This issue has been done. New loader and new api/initialize were added. Builds on staging and 8000 were updated.

Right now it works like at this video:
https://drive.google.com/file/d/1LoCE8_93862-0ivT1c6RPELTZQ9wPBHM/view?usp=sharing

[2018-11-01 14:44] #189 closed

[2018-11-01 17:34] kuvakina commented on #140
@PhilBarrett yes, I think we can close this issue, as we don't have problems with logout.

[2018-11-01 17:47] #140 closed

[2018-11-09 19:38] kuvakina commented on #198
I understand  @tony-shannon

Thank you

[2018-11-22 13:20] kuvakina commented on #277
A new api/initialize works correctly for all login.myhelm.org & staging.myhelm.org & dev.ripple.foundation:8000

@tony-shannon @PhilBarrett

[2018-11-22 13:35] kuvakina commented on #280
Checked.
We don't have multiple demographics API calls anymore.
See the video: https://www.screencast.com/t/9GycXLLB

@tony-shannon @PhilBarrett

[2018-11-22 13:53] kuvakina commented on #271
We have enough space on the server for Jenkins and since we cleaned it, we didn't notice any problems with tests on Jenkins.

@tony-shannon @PhilBarrett

[2018-11-22 14:14] kuvakina commented on #187
This works correctly.

[2018-11-22 14:23] #187 closed

[2018-11-22 14:40] #280 closed

[2018-11-22 14:53] #277 closed

[2018-11-22 15:13] kuvakina commented on #207
This task is done, @tony-shannon @PhilBarrett

Here you can see, that Core doesn't have Showcase theme: https://github.com/PulseTile/PulseTile-React-Core

[2018-11-22 15:13] kuvakina commented on #207
This task is done, @tony-shannon @PhilBarrett

Here you can see, that Core doesn't have Showcase theme: https://github.com/PulseTile/PulseTile-React-Core

[2018-11-22 15:23] kuvakina commented on #236
@tony-shannon @PhilBarrett I can't check this on login.myhelm.org & staging.myhelm.org as I can't login because T&C "moved" and I can't accept T&C (see images below).

Maybe @simongamester could help fix it? But again the question is in priority of this task
![2018-11-22_1659.png](https://waffleio-direct-uploads-production.s3.amazonaws.com/uploads/5badf10d7690fd0011f09889/125516c66e82c728ace21e0d4

[2019-01-23 16:54] kuvakina opened #302 "Feeds not loading"
On http://dev.ripple.foundation:8000 Feeds are not loading.
Assume that problem in cross-domain requests: https://www.screencast.com/t/NlxlcU2mwvS6

Also, noticed one thing. All Feeds has Remote Address: 217.198.117.111:443 .
Tried to go to this address but got this error message:

400 Bad Request
The plain HTTP request was sent to HTTPS port

[2019-01-28 11:16] PhilBarrett commented on #236
@kuvakina is this Helm specific or showcase? Is there any update since your last request or shall it move back to the backlog now.

[2019-01-28 11:18] #207 closed

[2019-01-28 11:21] simongamester commented on #236
@kuvakina @PhilBarrett I'll take a look at this today and get back to you.

[2019-01-28 11:42] #202 closed

[2019-01-28 13:40] PhilBarrett commented on #302
@kuvakina I believe this is in the wrong repo. Can you move onto Helm please.

[2019-01-28 17:13] kuvakina commented on #302
Done, sorry

[2019-01-28 17:36] simongamester commented on #236
@kuvakina @PhilBarrett Just logged into MyHelm but can't see this error and the terms page appears ok. I was testing in Chrome 71 on a mac. Given the age of this issue I'm wondering if it's since been resolved?

![image](https://user-images.githubusercontent.com/8059219/51854652-32864a80-2323-11e9-9689-af39074fc83c.png)

[2019-01-28 17:42] PhilBarrett commented on #236
@simongamester this is an ie11 issue though, if it can't be recreated on ie11 suggest we close the issue

[2019-01-28 17:45] simongamester commented on #236
Apologies, I can replicate the bug in IE11 so will develop a fix.

[2019-01-29 09:21] PhilBarrett commented on #302
https://github.com/LeedsCC/Helm-PHR-Project/issues/87

[2019-01-31 14:40] simongamester commented on #236
@PhilBarrett @kuvakina I've just submitted a PR to resolved this:

https://github.com/PulseTile-Plugins/Plugin-UserLogin_Theme-HelmPHR/pull/11

[2019-02-18 13:07] #302 closed, assigned to nobody

[2019-02-27 10:27] PhilBarrett commented on #236
@simongamester Merged this PR, please can you consider how this change can be handled/applied in React-Admin

[2019-03-01 17:02] tony-shannon commented on #200
closing as we are exploring Jenkins CI

[2019-03-01 17:02] #200 closed

[2019-03-19 15:58] PhilBarrett commented on #96
Completed in React Admin

[2019-03-19 15:58] #96 closed

[2019-07-29 15:52] tony-shannon opened #305 "enable swap UI from Angular to React for Ripple showcase stack demo purposes"
see this vital tip for swapping the UI over

https://github.com/PulseTile/PulseTile-AngularJS/issues/46

Follow the URL to load the application:
eg http://ripplestackbaseurl
Reload the page to get session token
You can type this link right in the browser URL field :
3.1) For React version: http://ripplestackbaseurl/api/ui/react
3.2) For Angular version: http://ripplestackbaseurl/api/ui/angular
Do